@font-face {
  font-family: 'Oxygen';
  src: url("fonts/oxygen/Oxygen.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen-Bold';
  src: url("fonts/oxygen/Oxygen-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("fonts/open-sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
