@mixin medium-screen {
  @media screen and (min-width: $medium-screen-mq-breakpoint) {
    @content;
  }
}

@mixin large-screen {
  @media screen and (min-width: $large-screen-mq-breakpoint) {
    @content;
  }
}

@mixin ellipsis($white-space: nowrap) {
  white-space: $white-space;
  overflow: hidden;
  text-overflow: ellipsis;
}


// Retina sprite mixin and function inspired by Paul Stamatiou (http://paulstamatiou.com/responsive-retina-blog-development-part-2)

@mixin hdpi-sprite {
  @include retina-image($sprite-url, 500px 50px);  // Sprite dimensions, halved
}
// silly function to divide the width and height to save me 2 seconds
// whenever I need to calculate the halved retina background position
@function halfPos($w, $h) {
  @return $w/2 $h/2;
}

@mixin hovered-cell-colors {
  background-color: $brand-primary;
  color: white;
}
