.support-level {
  &.UNKNOWN {
    color: $gray-light;
  }

  &.SUPPORTIVE {
    color: $brand-success;
  }

  &.NEEDS_CONVINCING {
    color: $brand-warning;
  }

  &.NOT_SUPPORTIVE {
    color: $brand-danger;
  }
}

#content {
  th {
    font-weight: normal;

    > .yes-no-answer {
      text-align: center;
      width: 100%;
      font-size: 10px;
    }
  }

  td {
    > .yes-no-answer {
      text-align: center;
      width: 100%;
    }
  }

  // Wouldn't override declaration was outside #content
  &.report-listing {
    .form-group {
      // We want the margin even on small rez
      margin-right: $odd-form-groups-margin-right;

      // To have the inputs on one line even on small screens
      float: left;
    }

    .submit-wrapper {
      float: left;
      padding-top: 24px;
    }

    .support-level {
      width: 9em;
    }
  }

  // Wouldn't override declaration was outside #content
  .reports {
    > article {
      border: 1px solid $table-border-color;
      border-bottom: none;

      padding: $table-condensed-cell-padding;

      &:nth-child(even) {
        background-color: $table-bg-accent;
      }

      &:last-child {
        border-bottom: 1px solid $table-border-color;
      }
    }

    span,
    a,
    p {
      font-size: $font-size-base;
    }

    p {
      margin-bottom: 0;
    }

    .existing-report-date,
    .existing-report-support-level,
    .support-level {
      width: 11em;
    }

    .existing-report-contact {
      width: 10em;
    }
  }
}

.edit-report,
.delete-report {
  float: right;
}

.edit-report {
  margin-right: 1em;
}

.alert.floating {
  position: fixed;
  left: 50%;
  margin-top: -2.8em;

  box-shadow: $carousel-text-shadow;

  $floating-alert-padding: $alert-padding/2;

  padding-top: $floating-alert-padding;
  padding-bottom: $floating-alert-padding;
  padding-left: $floating-alert-padding;

  &.alert-dismissable {
    .close {
      top: -1px;
    }
  }
}

$actionAlertWidth: 10.2em;
#report-saved {
  width: $actionAlertWidth;
  margin-left: -$actionAlertWidth/2;
}

$actionAlertWidth: 11em;
#report-deleted {
  width: $actionAlertWidth;
  margin-left: -$actionAlertWidth/2;
}

#edit-report-modal {
  > .modal-dialog {
    @include medium-screen {
      width: 620px;

      margin-left: auto;
      margin-right: auto;
    }
  }

  form {
    margin-bottom: 0;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }
}