.support-level {
  &.UNKNOWN {
    color: $gray-light;
  }

  &.SUPPORTIVE {
    color: $brand-success;
  }

  &.NEEDS_CONVINCING {
    color: $brand-warning;
  }

  &.NOT_SUPPORTIVE {
    color: $brand-danger;
  }
}

.yes-no-answer {
  text-align: center;

  &.UNKNOWN {
    color: $gray-light;
  }

  &.YES {
    color: $brand-success;
  }

  &.NO {
    color: $brand-danger;
  }
}

#content {
  th {
    font-weight: normal;

    > .yes-no-answer {
      text-align: center;
      width: 100%;

      font-size: 11px;
      letter-spacing: -0.5px;
    }
  }

  td {
    > .centered-contents {
      width: 100%;
    }
  }

  .other-form-error {
    display: none;

    font-style: italic;
    font-size: $font-size-input-error;
    color: $state-danger-text;
    text-align: center;
  }

  // Wouldn't override declaration was outside #content
  .reports {
    > article {
      border: 1px solid $table-border-color;
      border-bottom: none;

      padding: $table-condensed-cell-padding;

      &:nth-child(even) {
        background-color: $table-bg-accent;
      }

      &:last-child {
        border-bottom: 1px solid $table-border-color;
      }
    }

    span,
    a,
    p {
      font-size: $font-size-base;
    }

    p {
      margin-bottom: 0;
    }

    .existing-report-date,
    .existing-report-support-level,
    .support-level {
      width: 11em;
    }

    .existing-report-contact {
      width: 10em;
    }
  }
}

.edit-report,
.delete-report {
  float: right;
}

.edit-report {
  margin-right: 1em;
}

.alert.floating {
  position: fixed;
  left: 50%;
  margin-top: -2.5em;

  box-shadow: $carousel-text-shadow;
  padding: 3px 7px 4px 7px;
  border-radius: 3px;

  text-align: center;

  // Because we want to center it via negative left margin in Javascript
  display: none;
}

#edit-report-modal {
  > .modal-dialog {
    @include medium-screen {
      width: 620px;

      margin-left: auto;
      margin-right: auto;
    }
  }

  form {
    margin-bottom: 0;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }
}

.form-groups.report {
  @include clearfix;

  width: $field-width;
  margin: auto;

  @include medium-screen {
    width: $field-width + $odd-form-groups-margin-right + $field-width;
  }

  > .form-group {
    @include clearfix;

    > .check-or-radio {
      float: left;
      margin-right: 2em;
    }
  }
}
