.support-level {
  &.UNKNOWN {
    color: $gray-light;
  }

  &.SUPPORTIVE {
    color: $brand-success;
  }

  &.NEEDS_CONVINCING {
    color: $brand-warning;
  }

  &.NOT_SUPPORTIVE {
    color: $brand-danger;
  }
}

#content {
  th {
    font-weight: normal;

    > .yes-no-answer {
      text-align: center;
      width: 100%;

      font-size: 11px;
      letter-spacing: -0.5px;
    }
  }

  td {
    > .centered-contents {
      width: 100%;
    }
  }

  .other-form-error {
    display: none;

    font-style: italic;
    font-size: $font-size-input-error;
    color: $state-danger-text;
    text-align: center;
  }

  // Wouldn't override declaration was outside #content
  &.legislator-listing {
    > form {
      margin-bottom: 0;

      > div:first-child {
        @include clearfix;

        margin: 0 auto;
      }

      .form-group {
        // We want the margin even on small rez
        margin-right: $odd-form-groups-margin-right;

        // To have the inputs on one line even on small screens
        float: left;

        width: $label-width-us-state + $field-width-search-pages;
      }
    }

    > #sticky-table-header {
      display: none;

      position: fixed;
      top: 0;
      z-index: 1;

      background-color: #fff;
    }

    label[for="us-state"] {
      display: inline-block;
      width: $label-width-us-state;
    }

    #us-state {
      display: inline-block;
      width: $field-width-search-pages;
    }

    .support-level {
      width: 8.8em;
    }

    th,
    td {
      &.political-parties,
      &.mpp,
      &.safi,
      &.ocu,
      &.pvc,
      &.is-a-priority-target,
      &.is-missing-urgent-report {
        text-align: center;

        padding-left: 0;
        padding-right: 0;
      }
    }

    th.political-parties,
    th.is-a-priority-target,
    th.is-missing-urgent-report {
      padding-top: 0;
      padding-bottom: 0;

      @include transform(rotate(-90deg));
    }
  }

  // Wouldn't override declaration was outside #content
  .reports {
    > article {
      border: 1px solid $table-border-color;
      border-bottom: none;

      padding: $table-condensed-cell-padding;

      &:nth-child(even) {
        background-color: $table-bg-accent;
      }

      &:last-child {
        border-bottom: 1px solid $table-border-color;
      }
    }

    span,
    a,
    p {
      font-size: $font-size-base;
    }

    p {
      margin-bottom: 0;
    }

    .existing-report-date,
    .existing-report-support-level,
    .support-level {
      width: 11em;
    }

    .existing-report-contact {
      width: 10em;
    }
  }
}

.edit-report,
.delete-report {
  float: right;
}

.edit-report {
  margin-right: 1em;
}

.alert.floating {
  position: fixed;
  left: 50%;
  margin-top: -2.5em;

  box-shadow: $carousel-text-shadow;
  padding: 3px 7px 4px 7px;
  border-radius: 3px;

  text-align: center;

  // Because we want to center it via negative left margin in Javascript
  display: none;
}

#edit-report-modal {
  > .modal-dialog {
    @include medium-screen {
      width: 620px;

      margin-left: auto;
      margin-right: auto;
    }
  }

  form {
    margin-bottom: 0;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }
}


.form-groups.report {
  @include clearfix;

  width: $field-width;
  margin: auto;

  @include medium-screen {
    width: $field-width + $odd-form-groups-margin-right + $field-width;
  }

  > .form-group {
    @include clearfix;

    > .check-or-radio {
      float: left;
      margin-right: 2em;
    }
  }
}

// TODO: remove
.dataTables_filter {
  .form-control {
    display: inline-block;
    width: auto;

    font-weight: normal;
  }
}

/* TODO: remove .table-filter {
  @include clearfix;

  > div {
    float: right;
  }
} */

$table-filter-margin: 0.2em;

.table-filter {
  @include clearfix;

  margin-bottom: 2px;

  > .form-control {
    float: left;

    margin: 0 2px 0 1px;  // Right margin is 1px more than the left, it's the width of the border of the table column below

    // To have more room for the text
    padding-left: 5px;
    padding-right: 5px;
  }

  > #title-filter {
    width: 42px;
  }

  > #name-filter {
    width: 138px;
  }

  > #party-filter {
    width: 32px;
    text-align: center;
  }

  > #district-filter {
    width: 107px;
  }

  > #support-level-filter {
    width: 133px;
  }

  > #mpp-filter {
    width: 53px;
    text-align: center;
  }

  > #safi-filter {
    width: 60px;
    text-align: center;
  }

  > #ocu-filter {
    width: 46px;
    text-align: center;
  }

  > #pvc-filter {
    width: 56px;
    text-align: center;
  }

  > #is-missing-urgent-report-filter {
    margin: 10px 0 0 16px;
  }

  > #is-a-priority-target-filter {
    margin: 10px 0 0 28px;
  }

  > .close {
    position: relative;
    margin: 5px -15px 0 0;

    // To avoid the button stay dark gray after being clicked
    &:focus {
      opacity: 0.2;
    }
  }
}

#search-results {
  .table {
    span.support-level {
      font-weight: bold;
    }
  }
}