$bg-color: rgb(250, 248, 245);

$action-color: rgb(105, 0, 255);

$page-side-padding: 1em;

$field-width: 20em;
$odd-form-groups-margin-right: 2em;

$medium-screen-min-width: $page-side-padding + $field-width + $odd-form-groups-margin-right + $field-width + $page-side-padding; // 44em
$large-screen-min-width: 55em; // 55em @ 14px = 768px

$strange-em-difference-for-medium-screen-mq-breakpoint: 4.5em;
$strange-em-difference-for-large-screen-mq-breakpoint: 5.5em;

$medium-screen-mq-breakpoint: $medium-screen-min-width - $strange-em-difference-for-medium-screen-mq-breakpoint;  //$page-side-padding + $field-width + $odd-form-groups-margin-right + $field-width + $page-side-padding
$large-screen-mq-breakpoint: $large-screen-min-width - $strange-em-difference-for-large-screen-mq-breakpoint;

$sprite-url: 'images/sprite';
