#admin-login {
  #content {
    .form-groups {
      @include clearfix;

      width: $field-width;
      margin: auto;
    }

    .submit-wrapper {
      padding-top: 0;
    }

    .other-form-error {
      margin-top: $line-height-computed;
    }
  }
}
