#find-your-legislator {
  $address-field-width: 23em;
  $width-submit-btn-find-your-legislator: 7em;

  $find-your-legislator-page-min-width: $page-side-padding + $address-field-width + $odd-form-groups-margin-right + $width-submit-btn-find-your-legislator + $page-side-padding;

  header {
    min-width: $find-your-legislator-page-min-width;
  }

  #content {
    min-width: $find-your-legislator-page-min-width;
    max-width: $find-your-legislator-page-min-width;

    > form {
      > div {
        @include clearfix;
      }

      .form-group {
        width: $address-field-width;
      }
    }

    .submit-wrapper {
      > button {
        width: $width-submit-btn-find-your-legislator;
      }
    }

    .alert-warning {
      text-align: center;
    }

    th {
      &.title {
        width: 8%;
        text-align: center;
      }
      &.name {
        width: 28%;
      }
      &.political-parties {
        width: 10.5%;
        text-align: center;
      }
      &.district {
        width: 22.5%;
      }
      &.support-level {
        width: 31%;
      }
    }
  }

  footer {
    min-width: $find-your-legislator-page-min-width;
  }
}
