#find-your-legislator {
  $label-width-find-your-legislator: 7em;
  $width-submit-btn-find-your-legislator: 7em;

  $find-your-legislator-page-width: $page-side-padding + $label-width-find-your-legislator + $field-width-search-pages + $odd-form-groups-margin-right + $width-submit-btn-find-your-legislator + $page-side-padding;

  header {
    min-width: $find-your-legislator-page-width;
  }

  #content {
    min-width: $find-your-legislator-page-width;
    max-width: $find-your-legislator-page-width;

    > form {
      > div {
        @include clearfix;
      }

      .form-group {
        width: $label-width-find-your-legislator + $field-width-search-pages;

        > label {
          display: inline-block;
          width: $label-width-find-your-legislator;
        }
      }
    }

    #address {
      display: inline-block;
      width: $field-width-search-pages;
    }

    .submit-wrapper {
      padding-top: 0;

      > button {
        width: $width-submit-btn-find-your-legislator;
      }
    }

    .alert-warning {
      text-align: center;
    }

    th {
      &.title {
        width: 8%;
        text-align: center;
      }
      &.name {
        width: 28%;
      }
      &.political-parties {
        width: 10.5%;
        text-align: center;
      }
      &.district {
        width: 22.5%;
      }
      &.support-level {
        width: 31%;
      }
    }
  }
}
