// Wouldn't override if declaration was outside #content
#content.legislator-listing {
  > form {
    .form-group {
      // We want the margin even on small rez
      margin-right: $odd-form-groups-margin-right;

      // To have the inputs on one line even on small screens
      float: left;
    }
  }

  .support-level {
    width: 9em; // 8.8em + 0.2em for "space" to the right
  }

  table {
    margin-bottom: 0;
    width: auto;
  }

  th,
  td {
    &.profile-pic,
    &.title,
    &.political-parties,
    &.mpp,
    &.safi,
    &.ocu,
    &.pvc,
    &.is-a-priority-target,
    &.is-missing-urgent-report {
      text-align: center;

      padding-left: 0;
      padding-right: 0;
    }
  }

  th.political-parties,
  th.is-a-priority-target,
  th.is-missing-urgent-report {
    padding-top: 0;
    padding-bottom: 0;

    @include transform(rotate(-90deg));
  }
}

#search-results {
  .table {
    span.support-level {
      font-weight: bold;
    }
  }
}