#search-legislators {
  $search-legislator-page-min-width: 68.5em;  // ~960px

  header {
    min-width: $search-legislator-page-min-width;
  }

  #content {
    min-width: $search-legislator-page-min-width;
    max-width: $search-legislator-page-min-width;

    // Because the large-screen footer is always displayed
    padding-bottom: $footer-item-height * 2;

    $search-legislator-advanced-toggle-link-width: 5em;

    form {
      > div:first-child {
        width: $label-width-us-state + $field-width-search-pages + $odd-form-groups-margin-right + $width-submit-btn-legislator-listing + $odd-form-groups-margin-right + $search-legislator-advanced-toggle-link-width;
      }
    }

    #advanced-toggle {
      float: left;

      width: $search-legislator-advanced-toggle-link-width;
      margin-left: $odd-form-groups-margin-right;
      padding-top: 5px;
    }

    #advanced-search-fields {
      // Floated children
      @include clearfix;

      > .form-group {
        width: $field-width-search-pages;
      }

      #committees-form-group {
        width: 34em;
      }

      #priority-target-form-group {
        width: 10em;
        margin-top: 30px;

        label {
          font-weight: bold;
        }
      }
    }

    th:nth-child(3) {
      text-align: center;
      padding: 0;

      @include transform(rotate(-90deg));
    }
  }

  footer {
    min-width: $search-legislator-page-min-width * $font-size-base / $font-size-body-large-screen;

    // We always want the large font size
    font-size: $font-size-body-large-screen;

    // We always want the large screen version
    > a,
    > a:visited,
    > a:hover,
    > a:focus {
      width: auto;
    }
  }
}
