#search-legislators {
  $search-legislator-page-min-width: 68.5em;  // ~960px

  $strange-em-difference-for-search-legislator-page-mq-breakpoint: 7em;
  $search-legislator-page-full-width-mq-breakpoint: $search-legislator-page-min-width - $strange-em-difference-for-search-legislator-page-mq-breakpoint;

  @media screen and (min-width: $search-legislator-page-full-width-mq-breakpoint) {
    @include defineBreakpoint("SEARCH_LEGISLATORS_FULL_WIDTH_BREAKPOINT");
  }

  header {
    min-width: $search-legislator-page-min-width;
  }

  #content {
    min-width: $search-legislator-page-min-width;
    max-width: $search-legislator-page-min-width;

    // Because the large-screen footer is always displayed
    padding-bottom: $footer-item-height * 2;

    $search-legislator-advanced-toggle-link-width: 5em;

    form {
      > div:first-child {
        width: $label-width-us-state + $field-width-search-pages + $odd-form-groups-margin-right + $width-submit-btn-legislator-listing + $odd-form-groups-margin-right + $search-legislator-advanced-toggle-link-width;
      }
    }

    #advanced-toggle {
      float: left;

      width: $search-legislator-advanced-toggle-link-width;
      margin-left: $odd-form-groups-margin-right;
      padding-top: 5px;
    }

    #advanced-search-fields {
      // Floated children
      @include clearfix;

      > .form-group {
        width: $field-width-search-pages;
      }

      #committees-form-group {
        width: 34em;
      }

      #priority-target-form-group {
        width: 10em;
        margin-top: 30px;

        label {
          font-weight: bold;
        }
      }
    }

    th:nth-child(3) {
      text-align: center;
      padding: 0;

      @include transform(rotate(-90deg));
    }

    > #sticky-table-header {
      width: $search-legislator-page-min-width - 2 * $page-side-padding;

      .title {
        width: 5.3%;
      }
      .name {
        width: 17.6%;
      }
      .political-parties {
        width: 4.2%;
      }
      .district {
        width: 13.2%;
      }
      .support-level {
        width: 17%;
      }
      .mpp {
        width: 7%;
      }
      .safi {
        width: 8.2%;
      }
      .ocu {
        width: 6.2%;
      }
      .pvc {
        width: 7.5%;
      }
      .last-contact {
        width: 13.8%;
      }
    }
  }

  footer {
    min-width: $search-legislator-page-min-width * $font-size-base / $font-size-body-large-screen;

    // We always want the large font size
    font-size: $font-size-body-large-screen;

    // We always want the large screen version
    > a,
    > a:visited,
    > a:hover,
    > a:focus {
      width: auto;
    }
  }
}
