#state-reports {
  @include large-screen {
    @include defineBreakpoint("STATE_REPORTS_LARGE_SCREEN_BREAKPOINT");
  }

  header {
    min-width: $large-screen-min-width;
  }

  #content {
    @include clearfix;  // Filter is floated right

    min-width: $large-screen-min-width;

    // Because the large-screen footer is always displayed
    padding-bottom: $footer-item-height * 2;

    > form {
      > div:first-child {
        width: $label-width-us-state + $field-width-search-pages + $odd-form-groups-margin-right + $width-submit-btn-legislator-listing;
      }
    }

    > #whip-count-per-chamber {
      @include clearfix;

      > article {
        float: left;

        &:last-child {
          float: right;
        }
      }

      ul {
        list-style-type: none;
        padding-left: 0;
      }

      li {
        @include clearfix;

        margin-bottom: $line-height-computed / 4;
      }

      .support-level,
      .support-level-bar-wrapper,
      .count {
        float: left;
      }

      .support-level {
        width: 8.5em;

        font-size: $font-size-small;
        margin-top: 0.2em;  // To align with .count
      }

      .count {
        width: 2em;
        text-align: center;
      }

      .support-level-bar-wrapper {
        width: 16em;

        > div {
          // Otherwise empty divs don't take the width
          min-height: 1.75em;

          &.UNKNOWN {
            background-color: $gray-light;
          }

          &.SUPPORTIVE {
            background-color: $brand-success;
          }

          &.NEEDS_CONVINCING {
            background-color: $brand-warning;
          }

          &.NOT_SUPPORTIVE {
            background-color: $brand-danger;
          }
        }
      }
    }

    h2 {
      text-align: left;
    }

    > #sticky-table-header {
      width: $large-screen-min-width - 2 * $page-side-padding;
    }

    > #table-header-visible-even-when-no-results th {
      border-bottom-width: 1px;
    }

    > #search-results {
      > article {
        margin-bottom: $line-height-computed;
      }
    }

    table {
      margin-bottom: 0;
    }

    th,
    td {
      &.title {
        width: 6%;
      }
      &.name {
        width: 21.5%;
      }
      &.political-parties {
        width: 4.7%;
      }
      &.district {
        width: 14%;
      }
      &.support-level {
        width: 18%;
      }
      &.mpp {
        width: 8.9%;
      }
      &.safi {
        width: 9.1%;
      }
      &.ocu {
        width: 8%;
      }
      &.pvc {
        width: 9%;
      }
    }

    th.political-parties {
      text-align: center;
      padding: 0;

      @include transform(rotate(-90deg));
    }
  }

  footer {
    min-width: $large-screen-min-width * $font-size-base / $font-size-body-large-screen;

    // We always want the large font size
    font-size: $font-size-body-large-screen;

    // We always want the large screen version
    > a,
    > a:visited,
    > a:hover,
    > a:focus {
      width: auto;
    }
  }
}
