#state-legislators {
  $state-legislators-page-min-width: 57.93em;  // ~811px (783 + 2*14)

  $strange-em-difference-for-state-reports-page-mq-breakpoint: 6em;
  $state-legislators-page-full-width-mq-breakpoint: $state-legislators-page-min-width - $strange-em-difference-for-state-reports-page-mq-breakpoint;

  @media screen and (min-width: $state-legislators-page-full-width-mq-breakpoint) {
    @include defineBreakpoint("STATE_LEGISLATORS_FULL_WIDTH_BREAKPOINT");
  }

  header {
    min-width: $state-legislators-page-min-width;
  }

  $profile-pic-col-width: 43px;
  $title-col-width: 45px;
  $name-col-width: 137px;
  $political-parties-col-width: 35px;
  $district-col-width: 109px;
  $support-level-col-width: 137px;
  $mpp-col-width: 56px;
  $safi-col-width: 66px;
  $ocu-col-width: 49px;
  $scp-col-width: 60px;
  $target-col-width: 45px;

  #content {
    min-width: $state-legislators-page-min-width;
    max-width: $state-legislators-page-min-width;

    // Because the large-screen footer is always displayed
    padding-bottom: $footer-item-height * 2;

    $chamber-or-target-radio-buttons-width: 23.5em;

    // Wouldn't override if declaration was outside #content
    #primary-search-fields {
      // Floated children
      @include clearfix;

      margin: 0 auto;
    }

    #state-form-group {
      width: $field-width-search-pages;

      > label,
      > #us-state {
        width: $field-width-search-pages;
      }
    }

    #last-updated-form-group,
    #not-updated-form-group {
      margin-right: 4.4em;

      $field-width-last-updated: 10em;

      width: $field-width-last-updated;

      > label {
        width: $field-width-last-updated;
      }

      > .form-control,
      > span {
        display: inline-block;
      }

      > .form-control {
        width: 2.5em;
        text-align: center;
        margin: 0 0.5em;
      }
    }

    // Wouldn't override if declaration was outside #content
    #chamber-or-target-radio-buttons {
      margin-top: 2.15em;

      // Needs to be inside ".form-group" to take precedence
      &.form-group {
        width: $chamber-or-target-radio-buttons-width;
        margin-right: 0;
      }

      @include clearfix;

      > .check-or-radio {
        float: left;
        margin-right: 2em;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    #advanced-search-fields {
      // Floated children
      @include clearfix;

      > .form-group {
        width: $field-width-search-pages;
      }

      // Needs to be nested in #advanced-search-fields in order to be high-enough priority
      #committees-form-group {
        width: $state-legislators-page-min-width - 2 * $page-side-padding - $field-width-search-pages - $odd-form-groups-margin-right;
        margin-right: 0;
      }
    }

    > #whip-count-per-chamber {
      @include clearfix;

      > article {
        float: left;

        margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }
      }

      ul {
        list-style-type: none;
        padding-left: 0;
      }

      li {
        @include clearfix;

        margin-bottom: $line-height-computed / 4;

        // To make sure that the height is respected even when the element is empty (happens on page load)
        min-height: $line-height-project;

        &.hover {
          > .support-level-bar-wrapper {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
      }

      .support-level,
      .count,
      .percentage,
      .support-level-bar-wrapper {
        float: left;
      }

      .support-level {
        font-size: 13px;
        letter-spacing: -0.5px;
        width: 7.8em;
      }

      .count,
      .percentage {
        font-size: 13px;
        text-align: center;
        width: 2.5em;
      }

      .percentage {
        display: none;
      }

      .support-level-bar-wrapper {
        width: 8.4em;

        > div {
          // Otherwise empty divs don't take the width
          min-height: 1.75em;

          &.UNKNOWN {
            background-color: $gray-light;
          }

          &.SUPPORTIVE {
            background-color: $brand-success;
          }

          &.NEEDS_CONVINCING {
            background-color: $brand-warning;
          }

          &.NOT_SUPPORTIVE {
            background-color: $brand-danger;
          }
        }
      }

      .data-loading {
        // To center vertically
        margin-top: 0.3em;
      }
    }

    h2 {
      text-align: left;
      margin-top: 0;
    }

    > #sticky-table-header {
      display: none;

      position: fixed;
      top: 0;
      z-index: 1;

      background-color: #fff;
    }

    > #search-results {
      > article {
        margin-bottom: $line-height-computed;
      }

      thead {
        display: none;
      }
    }

    > #table-header-visible-even-when-no-results th {
      border-bottom-width: 1px;
    }

    th,
    td {
      &.profile-pic {
        width: $profile-pic-col-width;
      }
      &.title {
        width: $title-col-width;
      }
      &.name {
        width: $name-col-width;
      }
      &.political-parties {
        width: $political-parties-col-width;
      }
      &.district {
        width: $district-col-width;
      }
      &.support-level {
        width: $support-level-col-width;
      }
      &.mpp {
        width: $mpp-col-width;
      }
      &.safi {
        width: $safi-col-width;
      }
      &.ocu {
        width: $ocu-col-width;
      }
      &.scp {
        width: $scp-col-width;
      }
      &.is-a-priority-target {
        width: $target-col-width;
      }
    }

    td.profile-pic {
      padding-top: 0;
      padding-bottom: 0;

      > img {
        max-width: $profile-pic-col-width - 1;
      }
    }
  }

  $table-filter-margin: 0.2em;

  .table-filter {
    @include clearfix;

    margin-bottom: 2px;

    > label {
      display: block;
      float: left;

      width: $profile-pic-col-width + $title-col-width;

      text-align: center;

      margin-top: 0.35em;
    }

    > .form-control {
      float: left;

      // Right margin is 1px more than the left, it's the width of the border of the table column below
      margin: 0 2px 0 1px;

      // To have more room for the text
      padding-left: 5px;
      padding-right: 5px;
    }

    > #name-filter {
      width: $name-col-width - 2;
    }

    > #party-filter {
      width: $political-parties-col-width - 3;
      text-align: center;
    }

    > #district-filter {
      width: $district-col-width - 3;
    }

    > #support-level-filter {
      width: $support-level-col-width - 3;
    }

    > #mpp-filter {
      width: $mpp-col-width - 3;
      text-align: center;
    }

    > #safi-filter {
      width: $safi-col-width - 3;
      text-align: center;
    }

    > #ocu-filter {
      width: $ocu-col-width - 3;
      text-align: center;
    }

    > #scp-filter {
      width: $scp-col-width - 3;
      text-align: center;
    }

    > #is-missing-urgent-report-filter {
      margin: 10px 0 0 16px;
    }

    > #is-a-priority-target-filter {
      margin: 10px 0 0 28px;
    }

    > .close {
      position: relative;
      margin: 5px -15px 0 0;

      // To avoid the button stay dark gray after being clicked
      &:focus {
        opacity: 0.2;
      }
    }
  }

  footer {
    min-width: $state-legislators-page-min-width * $font-size-base / $font-size-body-large-screen;

    // We always want the large font size
    font-size: $font-size-body-large-screen;

    // We always want the large screen version
    > a,
    > a:visited,
    > a:hover,
    > a:focus {
      width: auto;
    }
  }
}
