#state-legislator {
  #content {
    #legislator-data,
    #committees {
      width: $field-width;

      @include medium-screen {
        width: $medium-screen-min-width - 2*$page-side-padding;
      }
    }

    #legislator-data {
      margin: 0 auto;

      > div:first-child {
        > p {
          text-align: center; // To override the default value of "justify"

          margin-bottom: 0;
        }
      }

      img {
        margin-bottom: $line-height-computed/2;

        border: 4px solid $thumbnail-border;
      }

      @include large-screen {
        width: 100%;

        @include clearfix;

        > div {
          float: left;

          @include box-sizing(border-box);

          &:first-child {
            width: 30%;
          }

          &:nth-child(2) {
            width: 40%;
            padding-right: 1em;
          }

          &:last-child {
            width: 30%;
          }
        }
      }

      table {
        margin-bottom: $line-height-computed/2;

        td {
          text-align: center;
        }
      }

      form {
        @include clearfix;

        margin-bottom: 0;

        > .form-group {
          max-width: 100%;
        }
      }
    }

    $font-size-phone-numbers: 29px;

    #phone-numbers {
      margin-bottom: $line-height-computed;
      margin-top: $line-height-computed/2;

      @include large-screen {
        margin-top: 0;
      }

      > article,
      > .form-group {
        // To center
        width: 20em;
        margin: 0 auto;
      }

      label {
        margin-top: 5px;
        margin-right: 1em;
        vertical-align: top;

        width: 4.5em;

        &[for="other-phone-number"] {
          margin: 6px 0 0 0;
        }
      }

      span,
      a {
        font-size: $font-size-phone-numbers;
        line-height: 1em;
      }
    }

    #other-phone-number {
      display: inline-block;

      font-size: $font-size-phone-numbers;
      width: 7.4em;
      height: 41px;
    }

    #current-support-level {
      text-align: center;
      margin-bottom: $line-height-computed/2;

      > .support-level {
        font-weight: bold;
      }
    }

    #missing-urgent-report-and-priority-target {
      @include clearfix;

      margin-bottom: $line-height-computed;

      > article {
        // To space the two items
        letter-spacing: -0.5px;

        float: left;

        &:last-child {
          float: right;
        }
      }
    }

    #additional-contact-info {
      text-align: center;

      > a {
        margin-bottom: $line-height-computed / 2;
      }

      > div {
        display: none;

        > a {
          display: block;
          font-size: 12px;
          letter-spacing: -0.5px;
        }
      }
    }

    #social-media {
      margin-top: $line-height-computed / 2;
    }

    .facebook,
    .twitter {
      background: transparent url($sprite-url) no-repeat scroll 0 0;

      $social-media-icon-size: 48px;
      width: $social-media-icon-size;
      height: $social-media-icon-size;

      @include hdpi-sprite;
    }

    .twitter {
      margin-left: $odd-form-groups-margin-right / 2;

      background-position: -200px 0;

      @include hidpi {
        background-position: half-pos(-200px, 0);
      }
    }

    .office-address {
      // Reset
      text-align: left;

      margin-top: $line-height-computed;

      span {
        @include large-screen {
          font-size: $font-size-base;
        }
      }

      p {
        text-align: left; // Default is justify

        margin-bottom: 0;

        @include large-screen {
          font-size: 13px;
          letter-spacing: -0.5px;
        }
      }
    }

    #committees-toggle {
      margin-bottom: $line-height-computed / 2;
    }

    #committees {
      text-align: center;

      // To avoid glitch when sliding down
      margin: 0 auto;

      > ul {
        display: none;

        // To avoid glitch when sliding down
        margin-bottom: 0;

        padding-left: 1em;

        width: 100%;
        text-align: left;
      }

      span {
        font-style: italic;
      }
    }

    #new-report {
      h2 {
        // To avoid glitch when sliding down committees
        margin-top: 0;
      }

      .submit-wrapper {
        padding-top: 0; // To have the button closer to the fields
      }
    }

    .reports {
      > .alert-info {
        text-align: center;
      }
    }
  }
}
