#state-reports {
  $state-reports-page-min-width: 58.3em;  // ~816px

  $strange-em-difference-for-state-reports-page-mq-breakpoint: 6em;
  $state-reports-page-full-width-mq-breakpoint: $state-reports-page-min-width - $strange-em-difference-for-state-reports-page-mq-breakpoint;

  @media screen and (min-width: $state-reports-page-full-width-mq-breakpoint) {
    @include defineBreakpoint("STATE_REPORTS_FULL_WIDTH_BREAKPOINT");
  }

  header {
    min-width: $state-reports-page-min-width;
  }

  #content {
    min-width: $state-reports-page-min-width;
    max-width: $state-reports-page-min-width;

    // Because the large-screen footer is always displayed
    padding-bottom: $footer-item-height * 2;

    > #whip-count-per-chamber {
      @include clearfix;

      > article {
        float: left;

        margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }
      }

      ul {
        list-style-type: none;
        padding-left: 0;
      }

      li {
        @include clearfix;

        margin-bottom: $line-height-computed / 4;

        // To make sure that the height is respected even when the element is empty (happens on page load)
        min-height: $line-height-project;

        &.hover {
          > .support-level-bar-wrapper {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
      }

      .support-level,
      .count,
      .percentage,
      .support-level-bar-wrapper {
        float: left;
      }

      .support-level {
        font-size: 13px;
        letter-spacing: -0.5px;
        width: 7.8em;
      }

      .count,
      .percentage {
        font-size: 13px;
        text-align: center;
        width: 2.5em;
      }

      .percentage {
        display: none;
      }

      .support-level-bar-wrapper {
        width: 8.3em;

        > div {
          // Otherwise empty divs don't take the width
          min-height: 1.75em;

          &.UNKNOWN {
            background-color: $gray-light;
          }

          &.SUPPORTIVE {
            background-color: $brand-success;
          }

          &.NEEDS_CONVINCING {
            background-color: $brand-warning;
          }

          &.NOT_SUPPORTIVE {
            background-color: $brand-danger;
          }
        }
      }

      .data-loading {
        // To center vertically
        margin-top: 0.3em;
      }
    }

    h2 {
      text-align: left;
      margin-top: 0;
    }

    $name-col-width: 137px;
    $district-col-width: 109px;
    $support-level-col-width: 137px;

    #name-filter {
      width: $name-col-width - 2;
    }

    #district-filter {
      width: $district-col-width - 3;
    }

    #support-level-filter {
      width: $support-level-col-width - 3;
    }

    #sticky-table-header {
      width: $state-reports-page-min-width - 2 * $page-side-padding;
    }

    > #search-results {
      > article {
        margin-bottom: $line-height-computed;
      }

      thead {
        display: none;
      }
    }

    th,
    td {
      &.name {
        width: $name-col-width;
      }
      &.district {
        width: $district-col-width;
      }
      &.support-level {
        width: $support-level-col-width;
      }
    }
  }

  footer {
    min-width: $state-reports-page-min-width * $font-size-base / $font-size-body-large-screen;

    // We always want the large font size
    font-size: $font-size-body-large-screen;

    // We always want the large screen version
    > a,
    > a:visited,
    > a:hover,
    > a:focus {
      width: auto;
    }
  }
}
