#state-legislator {
  #content {
    $action-alert-width-state-legislator: 11.2em;
    > #other-phone-number-saved {
      width: $action-alert-width-state-legislator;
      margin-left: -$action-alert-width-state-legislator/2;
    }

    $action-alert-width-state-legislator: 10.6em;
    > #is-a-priority-target-saved {
      width: $action-alert-width-state-legislator;
      margin-left: -$action-alert-width-state-legislator/2;
    }

    #legislator-data,
    #committees {
      width: $field-width;

      @include medium-screen {
        width: $medium-screen-min-width - 2*$page-side-padding;
      }
    }

    #legislator-data {
      margin: 0 auto $line-height-computed auto;

      > div:first-child {
        > p {
          text-align: center; // To override the default value of "justify"

          &:nth-child(2),
          &:nth-child(3) {
            margin-bottom: 0;
          }
        }
      }

      img {
        margin-bottom: $line-height-computed/2;
      }

      @include large-screen {
        width: 100%;

        @include clearfix;

        > div {
          float: left;

          @include box-sizing(border-box);

          &:first-child {
            width: 30%;
          }

          &:nth-child(2) {
            width: 40%;
            padding-right: 1em;
          }

          &:last-child {
            width: 30%;
          }
        }
      }
    }

    $font-size-phone-numbers: 29px;

    #phone-numbers {
      margin-bottom: $line-height-computed/2;

      > article,
      > .form-group {
        // To center
        width: 20em;
        margin: 0 auto;
      }

      label {
        margin-top: 5px;
        margin-right: 1em;
        vertical-align: top;

        width: 4.5em;

        &[for="other-phone-number"] {
          margin: 6px 0 0 0;
        }
      }

      a {
        font-size: $font-size-phone-numbers;
        line-height: 1em;
      }
    }

    #other-phone-number {
      display: inline-block;

      font-size: $font-size-phone-numbers;
      width: 7.4em;
      height: 41px;
    }

    #support-level-and-priority-target {
      > .support-level {
        display: block;
        float: left;

        font-weight: bold;
        margin-left: 1em;
      }

      > .check-or-radio {
        float: right;
        margin-right: 1em;
      }
    }

    .office-address {
      span {
        @include large-screen {
          font-size: $font-size-base;
        }
      }

      p {
        text-align: left; // Default is justify

        @include large-screen {
          font-size: $font-size-small;
        }
      }
    }

    #committees {
      text-align: center;

      // To avoid glitch when sliding down
      margin: 0 auto;

      > ul {
        display: none;

        // To avoid glitch when sliding down
        margin-bottom: 0;

        padding-left: 1em;

        width: 100%;
        text-align: left;
      }

      li {
        font-size: $font-size-base;
      }
    }

    #new-report {
      h2 {
        // To avoid glitch when sliding down committees
        margin-top: 0;
      }
    }

    .reports {
      > .alert-info {
        text-align: center;
      }
    }
  }
}
