/*
 * Table
 */
table.dataTable {
  margin: 0 auto;
  clear: both;
  width: 100%; }

table.dataTable thead th {
  padding: 3px 18px 3px 10px;
  border-bottom: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  *cursor: hand; }

table.dataTable tfoot th {
  padding: 3px 18px 3px 10px;
  border-top: 1px solid black;
  font-weight: bold; }

table.dataTable td {
  padding: 3px 10px; }

table.dataTable td.center,
table.dataTable td.dataTables_empty {
  text-align: center; }

table.dataTable tr.odd {
  background-color: #E2E4FF; }

table.dataTable tr.even {
  background-color: white; }

table.dataTable tr.odd td.sorting_1 {
  background-color: #D3D6FF; }

table.dataTable tr.odd td.sorting_2 {
  background-color: #DADCFF; }

table.dataTable tr.odd td.sorting_3 {
  background-color: #E0E2FF; }

table.dataTable tr.even td.sorting_1 {
  background-color: #EAEBFF; }

table.dataTable tr.even td.sorting_2 {
  background-color: #F2F3FF; }

table.dataTable tr.even td.sorting_3 {
  background-color: #F9F9FF; }

/*
 * Table wrapper
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1; }

/*
 * Page length menu
 */
.dataTables_length {
  float: left; }

/*
 * Filter
 */
.dataTables_filter {
  float: right;
  text-align: right; }

/*
 * Table information
 */
.dataTables_info {
  clear: both;
  float: left; }

/*
 * Pagination
 */
.dataTables_paginate {
  float: right;
  text-align: right; }

/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
  height: 19px;
  float: left;
  cursor: pointer;
  *cursor: hand;
  color: #111 !important; }

.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
  text-decoration: none !important; }

.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
  outline: none; }

.paginate_disabled_previous,
.paginate_disabled_next {
  color: #666 !important; }

.paginate_disabled_previous,
.paginate_enabled_previous {
  padding-left: 23px; }

.paginate_disabled_next,
.paginate_enabled_next {
  padding-right: 23px;
  margin-left: 10px; }

.paginate_enabled_previous {
  background: url("images/datatables/back_enabled.png") no-repeat top left; }

.paginate_enabled_previous:hover {
  background: url("images/datatables/back_enabled_hover.png") no-repeat top left; }

.paginate_disabled_previous {
  background: url("images/datatables/back_disabled.png") no-repeat top left; }

.paginate_enabled_next {
  background: url("images/datatables/forward_enabled.png") no-repeat top right; }

.paginate_enabled_next:hover {
  background: url("images/datatables/forward_enabled_hover.png") no-repeat top right; }

.paginate_disabled_next {
  background: url("images/datatables/forward_disabled.png") no-repeat top right; }

/* Full number pagination */
.paging_full_numbers {
  height: 22px;
  line-height: 22px; }

.paging_full_numbers a:active {
  outline: none; }

.paging_full_numbers a:hover {
  text-decoration: none; }

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important; }

.paging_full_numbers a.paginate_button {
  background-color: #ddd; }

.paging_full_numbers a.paginate_button:hover {
  background-color: #ccc;
  text-decoration: none !important; }

.paging_full_numbers a.paginate_active {
  background-color: #99B3FF; }

/*
 * Processing indicator
 */
.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white; }

/*
 * Sorting
 */
.sorting {
  background: url("images/datatables/sort_both.png") no-repeat center right; }

.sorting_asc {
  background: url("images/datatables/sort_asc.png") no-repeat center right; }

.sorting_desc {
  background: url("images/datatables/sort_desc.png") no-repeat center right; }

.sorting_asc_disabled {
  background: url("images/datatables/sort_asc_disabled.png") no-repeat center right; }

.sorting_desc_disabled {
  background: url("images/datatables/sort_desc_disabled.png") no-repeat center right; }

table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none; }

/*
 * Scrolling
 */
.dataTables_scroll {
  clear: both; }

.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch; }

.jvectormap-label {
  position: absolute;
  display: none;
  border: solid 1px #CDCDCD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #292929;
  color: white;
  font-family: sans-serif, Verdana;
  font-size: smaller;
  padding: 3px; }

.jvectormap-zoomin, .jvectormap-zoomout {
  position: absolute;
  left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #292929;
  padding: 3px;
  color: white;
  width: 10px;
  height: 10px;
  cursor: pointer;
  line-height: 10px;
  text-align: center; }

.jvectormap-zoomin {
  top: 10px; }

.jvectormap-zoomout {
  top: 30px; }

@font-face {
  font-family: 'Oxygen';
  src: url("fonts/oxygen/Oxygen.otf"); }
@font-face {
  font-family: 'Oxygen';
  src: url("fonts/oxygen/Oxygen-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: 'Open-Sans';
  src: url("fonts/open-sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: 'Open-Sans';
  src: url("fonts/open-sans/OpenSans-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: "Open-Sans";
  src: url("fonts/open-sans/OpenSans-Italic.ttf");
  font-style: italic; }
@font-face {
  font-family: "Open-Sans";
  src: url("fonts/open-sans/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Source-Sans-Pro';
  src: url("fonts/source-sans-pro/SourceSansPro-Regular.otf"); }
@font-face {
  font-family: 'Source-Sans-Pro';
  src: url("fonts/source-sans-pro/SourceSansPro-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: "Source-Sans-Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-It.otf");
  font-style: italic; }
@font-face {
  font-family: "Source-Sans-Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-BoldIt.otf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Clear-Sans';
  src: url("fonts/clear-sans/ClearSans-Regular.ttf"); }
@font-face {
  font-family: 'Clear-Sans';
  src: url("fonts/clear-sans/ClearSans-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: "Clear-Sans";
  src: url("fonts/clear-sans/ClearSans-Italic.ttf");
  font-style: italic; }
@font-face {
  font-family: "Clear-Sans";
  src: url("fonts/clear-sans/ClearSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Fira-sans';
  src: url("fonts/fira-sans/FiraSansOT-Regular.otf"); }
@font-face {
  font-family: 'Fira-sans';
  src: url("fonts/fira-sans/FiraSansOT-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: "Fira-sans";
  src: url("fonts/fira-sans/FiraSansOT-RegularItalic.otf");
  font-style: italic; }
@font-face {
  font-family: "Fira-sans";
  src: url("fonts/fira-sans/FiraSansOT-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Karla';
  src: url("fonts/karla/Karla-Regular.otf"); }
@font-face {
  font-family: 'Karla';
  src: url("fonts/karla/Karla-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: "Karla";
  src: url("fonts/karla/Karla-Italic.otf");
  font-style: italic; }
@font-face {
  font-family: "Karla";
  src: url("fonts/karla/Karla-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("fonts/roboto/Roboto-Regular.otf"); }
@font-face {
  font-family: 'Roboto';
  src: url("fonts/roboto/Roboto-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Italic.otf");
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
#content {
  width: 100%;
  margin: 0 auto;
  max-width: 55em;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.lt-ie9 #content {
  width: 900px;
  padding-left: 30px;
  padding-right: 30px; }

img {
  max-width: 100%; }

html {
  overflow-y: scroll; }

body {
  /* TODO background-color: $bgColor;
  background: url('images/bg-content.png') repeat; */
  font-family: "Open-Sans", sans-serif; }

#content {
  /* TODO a:hover,
  a:focus {
    color: $actionColor;
  } */ }
  #content h1,
  #content h2 {
    text-align: center;
    text-rendering: optimizelegibility;
    font-smoothing: antialiased; }
  #content h1 {
    padding: 0 0 20px 0;
    margin: 0;
    font-family: "Oxygen", sans-serif;
    font-size: 30px;
    font-weight: bold; }
    @media screen and (min-width: 49.5em) {
      #content h1 {
        font-size: 36px;
        padding-bottom: 20px; } }
  #content h2 {
    margin-bottom: 10px;
    font-family: "Oxygen", sans-serif;
    font-size: 18px; }
    @media screen and (min-width: 49.5em) {
      #content h2 {
        font-size: 24px; } }
  #content p,
  #content ul,
  #content ol,
  #content form {
    margin-bottom: 20px; }
  #content p,
  #content span,
  #content li,
  #content a,
  #content label {
    line-height: 1.75em; }
  #content p {
    text-align: justify; }
  #content li {
    margin-bottom: 10px; }
  #content a,
  #content a:visited {
    text-decoration: none;
    cursor: pointer; }
  #content a,
  #content span {
    display: inline-block; }

.mdnz-polyfill {
  display: none; }

.list-header {
  margin-bottom: 10px; }

.centered-contents {
  text-align: center; }

.data-loading {
  background-image: url("images/loading.gif");
  width: 48px;
  height: 48px;
  margin: 0 auto; }

html,
body {
  height: 100%; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222222;
  color: white;
  text-align: center; }
  @media screen and (min-width: 49.5em) {
    footer {
      font-size: 16px; } }
  footer > a,
  footer > a:visited,
  footer > a:hover,
  footer > a:focus {
    display: inline-block;
    padding: 0.3em 1em;
    color: white;
    text-decoration: underline;
    width: 100%; }
    @media screen and (min-width: 39.5em) {
      footer > a,
      footer > a:visited,
      footer > a:hover,
      footer > a:focus {
        width: auto; } }

#container {
  min-height: 100%;
  position: relative; }

#content {
  padding-bottom: 14em; }
  @media screen and (min-width: 39.5em) {
    #content {
      padding-bottom: 4em; } }

#content form .form-group {
  width: 20em; }
  @media screen and (min-width: 39.5em) {
    #content form .form-group {
      float: left; } }
  @media screen and (min-width: 39.5em) {
    #content form .form-group:nth-child(odd) {
      margin-right: 2em; } }
  #content form .form-group > label,
  #content form .form-group > input,
  #content form .form-group > select,
  #content form .form-group > textarea {
    display: block;
    width: 100%; }
  #content form .form-group > label {
    margin-bottom: 0; }
    #content form .form-group > label.mdnz-polyfill {
      display: none; }
#content form .field-error {
  display: none;
  font-style: italic;
  font-size: 13px;
  color: #a94442;
  margin-bottom: 0; }
#content .check-or-radio {
  display: table-row; }
  #content .check-or-radio > div {
    display: table-cell;
    vertical-align: middle; }
    #content .check-or-radio > div > input {
      margin-right: 0.5em; }
    #content .check-or-radio > div > label {
      margin: 0;
      font-weight: normal; }
#content .submit-wrapper {
  padding-top: 20px; }
  #content .submit-wrapper > [type=submit] {
    display: block;
    margin: auto; }

tr.clickable {
  cursor: pointer; }

.support-level.UNKNOWN {
  color: #999999; }
.support-level.SUPPORTIVE {
  color: #5cb85c; }
.support-level.NEEDS_CONVINCING {
  color: #f0ad4e; }
.support-level.NOT_SUPPORTIVE {
  color: #d9534f; }

#content th {
  font-weight: normal; }
  #content th > .yes-no-answer {
    text-align: center;
    width: 100%;
    font-size: 10px; }
#content td > .centered-contents {
  width: 100%; }
#content .other-form-error {
  display: none;
  font-style: italic;
  font-size: 13px;
  color: #a94442;
  text-align: center; }
#content.legislator-listing > form .form-group {
  margin-right: 2em;
  float: left; }
#content.legislator-listing .submit-wrapper {
  padding-top: 24px; }
#content.legislator-listing .support-level {
  width: 9em; }
#content .reports > article {
  border: 1px solid #dddddd;
  border-bottom: none;
  padding: 5px; }
  #content .reports > article:nth-child(even) {
    background-color: #f9f9f9; }
  #content .reports > article:last-child {
    border-bottom: 1px solid #dddddd; }
#content .reports span,
#content .reports a,
#content .reports p {
  font-size: 14px; }
#content .reports p {
  margin-bottom: 0; }
#content .reports .existing-report-date,
#content .reports .existing-report-support-level,
#content .reports .support-level {
  width: 11em; }
#content .reports .existing-report-contact {
  width: 10em; }

.edit-report,
.delete-report {
  float: right; }

.edit-report {
  margin-right: 1em; }

.alert.floating {
  position: absolute;
  left: 50%;
  margin-top: -2.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  padding: 3px 7px 4px 7px;
  border-radius: 3px;
  text-align: center; }

#report-saved {
  width: 7.3em;
  margin-left: -3.65em; }

#report-deleted {
  width: 8.1em;
  margin-left: -4.05em; }

@media screen and (min-width: 39.5em) {
  #edit-report-modal > .modal-dialog {
    width: 620px;
    margin-left: auto;
    margin-right: auto; } }
#edit-report-modal form {
  margin-bottom: 0; }
#edit-report-modal .form-group:last-child {
  margin-bottom: 0; }

.form-groups.report {
  width: 20em;
  margin: auto; }
  .form-groups.report:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 39.5em) {
    .form-groups.report {
      width: 42em; } }
  .form-groups.report > .form-group:after {
    content: "";
    display: table;
    clear: both; }
  .form-groups.report > .form-group > .check-or-radio {
    float: left;
    margin-right: 2em; }

.dataTables_filter .form-control,
.table-filter > div .form-control {
  display: inline-block;
  width: auto;
  font-weight: normal; }

.table-filter:after {
  content: "";
  display: table;
  clear: both; }
.table-filter > div {
  float: right; }

html {
  font-size: 14px; }

/* TODO .btn-primary {
  background-color: $actionColor;
  border-color: $actionColor;

  &.active,
  &:active,
  &:focus,
  &:hover {
    background-color: darken($actionColor, 10%);
    border-color: darken($actionColor, 10%);
  }
} */
a.btn-primary {
  color: white; }

textarea.form-control {
  resize: vertical;
  height: 8em; }

.table > thead > tr > th {
  vertical-align: middle; }
.table > tbody > tr.clickable:hover td {
  background-color: #428bca;
  color: white; }
.table > tbody > tr > td {
  vertical-align: middle; }

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-right: 0; }

/* TODO .navbar-default {
  background-color: $alternate-bg-colour;
} */
/* TODO .form-control {
  &:focus {
    border-color: $actionColor;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px transparentize($actionColor, 0.7);
  }
} */
@media screen and (min-width: 49.5em) {
  .modal-body > p {
    font-size: 16px; } }

.dataTables_length,
.dataTables_info,
.dataTables_paginate {
  display: none; }

table.dataTable thead th {
  border-bottom: 2px solid #DDDDDD;
  padding: 5px; }
table.dataTable tr.clickable.odd:hover td.sorting_1, table.dataTable tr.clickable.even:hover td.sorting_1 {
  background-color: #428bca;
  color: white; }
table.dataTable tr.odd td.sorting_1 {
  background-color: #F9F9F9; }
table.dataTable tr.even td.sorting_1 {
  background-color: #FFF; }

.jvectormap-zoomin,
.jvectormap-zoomout {
  width: 16px;
  height: 16px; }

#index #content tr.spaced > td {
  padding-top: 1.72em; }
#index #content td {
  width: 9em; }
#index #content a > span {
  font-weight: bold;
  color: #d9534f; }
#index #content table {
  width: 18em;
  margin: auto; }
#index #content #three-cols,
#index #content #four-cols,
#index #content #five-cols,
#index #content #six-cols {
  display: none; }
#index #content #map-container {
  display: none;
  margin-top: 40px; }
  @media screen and (min-width: 49.5em) {
    #index #content #map-container {
      display: block; } }
#index #content #map {
  width: 53em;
  height: 30.11364em; }
@media screen and (min-width: 26.4em) {
  #index #content > #two-cols {
    display: none; }
  #index #content > #three-cols {
    width: 27em;
    display: block; } }
@media screen and (min-width: 34.3em) {
  #index #content > #three-cols {
    display: none; }
  #index #content > #four-cols {
    width: 36em;
    display: block; } }
@media screen and (min-width: 42.1em) {
  #index #content > #four-cols {
    display: none; }
  #index #content > #five-cols {
    width: 45em;
    display: block; } }
@media screen and (min-width: 49.9em) {
  #index #content {
    /* > h1 {
      font-size: 4.65vw;
    } */ }
    #index #content > #five-cols {
      display: none; }
    #index #content > #six-cols {
      width: 54em;
      display: block;
      margin: auto; } }

#admin #content {
  max-width: 45em; }
  @media screen and (min-width: 49.5em) {
    #admin #content p {
      font-size: 16px; } }

#admin-login #content .form-groups {
  width: 20em;
  margin: auto; }
  #admin-login #content .form-groups:after {
    content: "";
    display: table;
    clear: both; }
#admin-login #content .submit-wrapper {
  padding-top: 0; }
#admin-login #content .other-form-error {
  margin-top: 20px; }

#find-your-legislator header {
  min-width: 34em; }
#find-your-legislator #content {
  min-width: 34em;
  max-width: 34em; }
  #find-your-legislator #content > form > div:after {
    content: "";
    display: table;
    clear: both; }
  #find-your-legislator #content > form .form-group {
    width: 23em; }
    #find-your-legislator #content > form .form-group > label {
      display: inline-block;
      width: 7em; }
  #find-your-legislator #content #address {
    display: inline-block;
    width: 16em; }
  #find-your-legislator #content .submit-wrapper {
    padding-top: 0; }
    #find-your-legislator #content .submit-wrapper > button {
      width: 7em; }
  #find-your-legislator #content .alert-warning {
    text-align: center; }
  #find-your-legislator #content th.title {
    width: 8%;
    text-align: center; }
  #find-your-legislator #content th.name {
    width: 28%; }
  #find-your-legislator #content th.political-parties {
    width: 10.5%;
    text-align: center; }
  #find-your-legislator #content th.district {
    width: 22.5%; }
  #find-your-legislator #content th.support-level {
    width: 31%; }

#search-legislators header {
  min-width: 68.5em; }
#search-legislators #content {
  min-width: 68.5em;
  max-width: 68.5em; }
  #search-legislators #content form > div:after {
    content: "";
    display: table;
    clear: both; }
  #search-legislators #content .form-group {
    width: 16em; }
  #search-legislators #content .submit-wrapper {
    float: left; }
  #search-legislators #content #advanced-toggle {
    float: right;
    padding-top: 29px; }
  #search-legislators #content #advanced-search-fields {
    display: none; }
  #search-legislators #content #committees-form-group {
    width: 34em; }
  #search-legislators #content #priority-target-form-group {
    width: 10em; }
    #search-legislators #content #priority-target-form-group label {
      font-weight: bold; }
  #search-legislators #content th:nth-child(3) {
    text-align: center;
    padding: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }

#state-reports header {
  min-width: 55em; }
#state-reports #content {
  min-width: 55em; }
  #state-reports #content:after {
    content: "";
    display: table;
    clear: both; }
  #state-reports #content > form > div {
    width: 28em;
    margin: 0 auto; }
    #state-reports #content > form > div:after {
      content: "";
      display: table;
      clear: both; }
  #state-reports #content > form .form-group {
    width: 19em; }
    #state-reports #content > form .form-group > label {
      display: inline-block;
      width: 3em; }
  #state-reports #content #us-state {
    display: inline-block;
    width: 16em; }
  #state-reports #content .submit-wrapper {
    padding-top: 0; }
    #state-reports #content .submit-wrapper > button {
      width: 7em; }
  #state-reports #content > #search-results > article {
    margin-bottom: 20px; }
    #state-reports #content > #search-results > article:first-child th:nth-child(3) {
      text-align: center;
      padding: 0;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  #state-reports #content table {
    margin-bottom: 0; }
  #state-reports #content th.title {
    width: 5%; }
  #state-reports #content th.name {
    width: 21.5%; }
  #state-reports #content th.political-parties {
    width: 4.5%;
    text-align: center; }
  #state-reports #content th.district {
    width: 14%; }
  #state-reports #content th.support-level {
    width: 19%; }
  #state-reports #content th.mpp {
    width: 9%;
    text-align: center; }
  #state-reports #content th.safi {
    width: 10%;
    text-align: center; }
  #state-reports #content th.ocu {
    width: 8%;
    text-align: center; }
  #state-reports #content th.pvc {
    width: 9%;
    text-align: center; }

#state-legislator #content > #other-phone-number-saved {
  width: 11.2em;
  margin-left: -5.6em; }
#state-legislator #content > #is-a-priority-target-saved {
  width: 10.6em;
  margin-left: -5.3em; }
#state-legislator #content #legislator-data,
#state-legislator #content #committees {
  width: 20em; }
  @media screen and (min-width: 39.5em) {
    #state-legislator #content #legislator-data,
    #state-legislator #content #committees {
      width: 42em; } }
#state-legislator #content #legislator-data {
  margin: 0 auto 20px auto; }
  #state-legislator #content #legislator-data > div:first-child > p {
    text-align: center; }
    #state-legislator #content #legislator-data > div:first-child > p:nth-child(2), #state-legislator #content #legislator-data > div:first-child > p:nth-child(3) {
      margin-bottom: 0; }
  #state-legislator #content #legislator-data img {
    margin-bottom: 10px; }
  @media screen and (min-width: 49.5em) {
    #state-legislator #content #legislator-data {
      width: 100%; }
      #state-legislator #content #legislator-data:after {
        content: "";
        display: table;
        clear: both; }
      #state-legislator #content #legislator-data > div {
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        #state-legislator #content #legislator-data > div:first-child {
          width: 30%; }
        #state-legislator #content #legislator-data > div:nth-child(2) {
          width: 40%;
          padding-right: 1em; }
        #state-legislator #content #legislator-data > div:last-child {
          width: 30%; } }
#state-legislator #content #phone-numbers {
  margin-bottom: 10px; }
  #state-legislator #content #phone-numbers > article,
  #state-legislator #content #phone-numbers > .form-group {
    width: 20em;
    margin: 0 auto; }
  #state-legislator #content #phone-numbers label {
    margin-top: 5px;
    margin-right: 1em;
    vertical-align: top;
    width: 4.5em; }
    #state-legislator #content #phone-numbers label[for="other-phone-number"] {
      margin: 6px 0 0 0; }
  #state-legislator #content #phone-numbers a {
    font-size: 29px;
    line-height: 1em; }
#state-legislator #content #other-phone-number {
  display: inline-block;
  font-size: 29px;
  width: 7.4em;
  height: 41px; }
#state-legislator #content #support-level-and-priority-target > .support-level {
  display: block;
  float: left;
  font-weight: bold;
  margin-left: 1em; }
#state-legislator #content #support-level-and-priority-target > .check-or-radio {
  float: right;
  margin-right: 1em; }
@media screen and (min-width: 49.5em) {
  #state-legislator #content .office-address span {
    font-size: 14px; } }
#state-legislator #content .office-address p {
  text-align: left; }
  @media screen and (min-width: 49.5em) {
    #state-legislator #content .office-address p {
      font-size: 12px; } }
#state-legislator #content #committees {
  text-align: center;
  margin: 0 auto; }
  #state-legislator #content #committees > ul {
    display: none;
    margin-bottom: 0;
    padding-left: 1em;
    width: 100%;
    text-align: left; }
  #state-legislator #content #committees li {
    font-size: 14px; }
#state-legislator #content #new-report h2 {
  margin-top: 0; }
#state-legislator #content .reports > .alert-info {
  text-align: center; }
