html:after {
  content: "js-breakpoints-getComputedStyleTest";
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0); }

@font-face {
  font-family: 'Oxygen';
  src: url("fonts/oxygen/Oxygen.otf"); }
@font-face {
  font-family: 'Oxygen';
  src: url("fonts/oxygen/Oxygen-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: 'Open-Sans';
  src: url("fonts/open-sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: 'Open-Sans';
  src: url("fonts/open-sans/OpenSans-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: "Open-Sans";
  src: url("fonts/open-sans/OpenSans-Italic.ttf");
  font-style: italic; }
@font-face {
  font-family: "Open-Sans";
  src: url("fonts/open-sans/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Source-Sans-Pro';
  src: url("fonts/source-sans-pro/SourceSansPro-Regular.otf"); }
@font-face {
  font-family: 'Source-Sans-Pro';
  src: url("fonts/source-sans-pro/SourceSansPro-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: "Source-Sans-Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-It.otf");
  font-style: italic; }
@font-face {
  font-family: "Source-Sans-Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-BoldIt.otf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Clear-Sans';
  src: url("fonts/clear-sans/ClearSans-Regular.ttf"); }
@font-face {
  font-family: 'Clear-Sans';
  src: url("fonts/clear-sans/ClearSans-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: "Clear-Sans";
  src: url("fonts/clear-sans/ClearSans-Italic.ttf");
  font-style: italic; }
@font-face {
  font-family: "Clear-Sans";
  src: url("fonts/clear-sans/ClearSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Fira-sans';
  src: url("fonts/fira-sans/FiraSansOT-Regular.otf"); }
@font-face {
  font-family: 'Fira-sans';
  src: url("fonts/fira-sans/FiraSansOT-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: "Fira-sans";
  src: url("fonts/fira-sans/FiraSansOT-RegularItalic.otf");
  font-style: italic; }
@font-face {
  font-family: "Fira-sans";
  src: url("fonts/fira-sans/FiraSansOT-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Karla';
  src: url("fonts/karla/Karla-Regular.otf"); }
@font-face {
  font-family: 'Karla';
  src: url("fonts/karla/Karla-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: "Karla";
  src: url("fonts/karla/Karla-Italic.otf");
  font-style: italic; }
@font-face {
  font-family: "Karla";
  src: url("fonts/karla/Karla-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("fonts/roboto/Roboto-Regular.otf"); }
@font-face {
  font-family: 'Roboto';
  src: url("fonts/roboto/Roboto-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Italic.otf");
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
#content {
  width: 100%;
  margin: 0 auto;
  max-width: 55em;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.lt-ie9 #content {
  width: 900px;
  padding-left: 30px;
  padding-right: 30px; }

img {
  max-width: 100%; }

html {
  overflow-y: scroll; }
  @media screen and (min-width: 39.5em) {
    html:after {
      content: "GLOBAL_MEDIUM_SCREEN_BREAKPOINT";
      visibility: hidden;
      position: absolute;
      clip: rect(0 0 0 0); }
    html .js-breakpoints-GLOBAL_MEDIUM_SCREEN_BREAKPOINT {
      position: absolute; } }
  @media screen and (min-width: 49.5em) {
    html:after {
      content: "GLOBAL_LARGE_SCREEN_BREAKPOINT";
      visibility: hidden;
      position: absolute;
      clip: rect(0 0 0 0); }
    html .js-breakpoints-GLOBAL_LARGE_SCREEN_BREAKPOINT {
      position: absolute; } }

body {
  /* TODO background-color: $bgColor;
  background: url('images/bg-content.png') repeat; */
  font-family: "Open-Sans", sans-serif; }

#content {
  /* TODO a:hover,
  a:focus {
    color: $actionColor;
  } */ }
  #content h1,
  #content h2 {
    text-align: center;
    text-rendering: optimizelegibility;
    font-smoothing: antialiased; }
  #content h1 {
    padding: 0 0 20px 0;
    margin: 0;
    font-family: "Oxygen", sans-serif;
    font-size: 30px;
    font-weight: bold; }
    @media screen and (min-width: 49.5em) {
      #content h1 {
        font-size: 36px;
        padding-bottom: 20px; } }
  #content h2 {
    margin: 10px 0 10px 0;
    font-family: "Oxygen", sans-serif;
    font-size: 18px; }
    @media screen and (min-width: 49.5em) {
      #content h2 {
        font-size: 24px; } }
  #content p,
  #content ul,
  #content ol,
  #content form {
    margin-bottom: 20px; }
  #content p,
  #content span,
  #content li,
  #content a,
  #content label {
    line-height: 1.75em; }
  #content p {
    text-align: justify; }
  #content li {
    margin-bottom: 10px; }
  #content a,
  #content a:visited {
    text-decoration: none;
    cursor: pointer; }
  #content a,
  #content span {
    display: inline-block; }

.mdnz-polyfill {
  display: none; }

.list-header {
  margin-bottom: 10px; }

.centered-contents {
  text-align: center; }

.data-loading {
  background-image: url("images/loading.gif");
  width: 48px;
  height: 48px;
  margin: 0 auto; }

html,
body {
  height: 100%; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222222;
  color: white;
  text-align: center; }
  @media screen and (min-width: 49.5em) {
    footer {
      font-size: 16px; } }
  footer > a,
  footer > a:visited,
  footer > a:hover,
  footer > a:focus {
    display: inline-block;
    padding: 0.45em 1em 0.55em 1em;
    color: white;
    width: 100%; }
    @media screen and (min-width: 39.5em) {
      footer > a,
      footer > a:visited,
      footer > a:hover,
      footer > a:focus {
        width: auto; } }

#container {
  min-height: 100%;
  position: relative; }

#content {
  padding-bottom: 17.5em; }
  @media screen and (min-width: 39.5em) {
    #content {
      padding-bottom: 5em; } }

#content form .form-group {
  width: 20em; }
  @media screen and (min-width: 39.5em) {
    #content form .form-group {
      float: left; } }
  @media screen and (min-width: 39.5em) {
    #content form .form-group:nth-child(odd) {
      margin-right: 2em; } }
  #content form .form-group > label,
  #content form .form-group > input,
  #content form .form-group > select,
  #content form .form-group > textarea {
    display: block;
    width: 100%; }
  #content form .form-group > label {
    margin-bottom: 0; }
    #content form .form-group > label.mdnz-polyfill {
      display: none; }
#content form .field-error {
  display: none;
  font-style: italic;
  font-size: 13px;
  color: #a94442;
  margin-bottom: 0; }
#content .check-or-radio {
  display: table-row; }
  #content .check-or-radio > div {
    display: table-cell;
    vertical-align: middle; }
    #content .check-or-radio > div > input {
      margin-right: 0.5em; }
    #content .check-or-radio > div > label {
      margin: 0;
      font-weight: normal; }
#content .submit-wrapper {
  padding-top: 20px; }
  #content .submit-wrapper > [type=submit] {
    display: block;
    margin: auto; }

tr.clickable {
  cursor: pointer; }

.support-level.UNKNOWN {
  color: #999999; }
.support-level.SUPPORTIVE {
  color: #5cb85c; }
.support-level.NEEDS_CONVINCING {
  color: #f0ad4e; }
.support-level.NOT_SUPPORTIVE {
  color: #d9534f; }

.yes-no-answer {
  text-align: center; }
  .yes-no-answer.UNKNOWN {
    color: #999999; }
  .yes-no-answer.YES {
    color: #5cb85c; }
  .yes-no-answer.NO {
    color: #d9534f; }

#content th {
  font-weight: normal; }
  #content th > .yes-no-answer {
    text-align: center;
    width: 100%;
    font-size: 11px;
    letter-spacing: -0.5px; }
#content td > .centered-contents {
  width: 100%; }
#content .other-form-error {
  display: none;
  font-style: italic;
  font-size: 13px;
  color: #a94442;
  text-align: center; }
#content.legislator-listing > form > div:first-child {
  margin: 0 auto; }
  #content.legislator-listing > form > div:first-child:after {
    content: "";
    display: table;
    clear: both; }
#content.legislator-listing > form .form-group {
  margin-right: 2em;
  float: left;
  width: 19em; }
#content.legislator-listing > #sticky-table-header {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff; }
#content.legislator-listing label[for="us-state"] {
  display: inline-block;
  width: 3em; }
#content.legislator-listing #us-state {
  display: inline-block;
  width: 16em; }
#content.legislator-listing .support-level {
  width: 9em; }
#content.legislator-listing table {
  margin-bottom: 0;
  width: auto; }
#content.legislator-listing > #table-header-visible-even-when-no-results th {
  border-bottom-width: 1px; }
#content.legislator-listing th.political-parties, #content.legislator-listing th.mpp, #content.legislator-listing th.safi, #content.legislator-listing th.ocu, #content.legislator-listing th.pvc, #content.legislator-listing th.is-a-priority-target, #content.legislator-listing th.is-missing-urgent-report,
#content.legislator-listing td.political-parties,
#content.legislator-listing td.mpp,
#content.legislator-listing td.safi,
#content.legislator-listing td.ocu,
#content.legislator-listing td.pvc,
#content.legislator-listing td.is-a-priority-target,
#content.legislator-listing td.is-missing-urgent-report {
  text-align: center;
  padding-left: 0;
  padding-right: 0; }
#content.legislator-listing th.political-parties,
#content.legislator-listing th.is-a-priority-target,
#content.legislator-listing th.is-missing-urgent-report {
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }
#content.legislator-listing th.title,
#content.legislator-listing td.title {
  width: 45px; }
#content.legislator-listing th.political-parties,
#content.legislator-listing td.political-parties {
  width: 35px; }
#content.legislator-listing th.mpp,
#content.legislator-listing td.mpp {
  width: 56px; }
#content.legislator-listing th.safi,
#content.legislator-listing td.safi {
  width: 66px; }
#content.legislator-listing th.ocu,
#content.legislator-listing td.ocu {
  width: 49px; }
#content.legislator-listing th.pvc,
#content.legislator-listing td.pvc {
  width: 62px; }
#content.legislator-listing th.is-missing-urgent-report,
#content.legislator-listing td.is-missing-urgent-report {
  width: 46px; }
#content.legislator-listing th.is-a-priority-target,
#content.legislator-listing td.is-a-priority-target {
  width: 45px; }
#content .reports > article {
  border: 1px solid #dddddd;
  border-bottom: none;
  padding: 5px; }
  #content .reports > article:nth-child(even) {
    background-color: #f9f9f9; }
  #content .reports > article:last-child {
    border-bottom: 1px solid #dddddd; }
#content .reports span,
#content .reports a,
#content .reports p {
  font-size: 14px; }
#content .reports p {
  margin-bottom: 0; }
#content .reports .existing-report-date,
#content .reports .existing-report-support-level,
#content .reports .support-level {
  width: 11em; }
#content .reports .existing-report-contact {
  width: 10em; }

.edit-report,
.delete-report {
  float: right; }

.edit-report {
  margin-right: 1em; }

.alert.floating {
  position: fixed;
  left: 50%;
  margin-top: -2.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  padding: 3px 7px 4px 7px;
  border-radius: 3px;
  text-align: center;
  display: none; }

@media screen and (min-width: 39.5em) {
  #edit-report-modal > .modal-dialog {
    width: 620px;
    margin-left: auto;
    margin-right: auto; } }
#edit-report-modal form {
  margin-bottom: 0; }
#edit-report-modal .form-group:last-child {
  margin-bottom: 0; }

.form-groups.report {
  width: 20em;
  margin: auto; }
  .form-groups.report:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 39.5em) {
    .form-groups.report {
      width: 42em; } }
  .form-groups.report > .form-group:after {
    content: "";
    display: table;
    clear: both; }
  .form-groups.report > .form-group > .check-or-radio {
    float: left;
    margin-right: 2em; }

.table-filter {
  margin-bottom: 2px; }
  .table-filter:after {
    content: "";
    display: table;
    clear: both; }
  .table-filter > .form-control {
    float: left;
    margin: 0 2px 0 1px;
    padding-left: 5px;
    padding-right: 5px; }
  .table-filter > #title-filter {
    width: 43px; }
  .table-filter > #party-filter {
    width: 32px;
    text-align: center; }
  .table-filter > #mpp-filter {
    width: 53px;
    text-align: center; }
  .table-filter > #safi-filter {
    width: 63px;
    text-align: center; }
  .table-filter > #ocu-filter {
    width: 46px;
    text-align: center; }
  .table-filter > #pvc-filter {
    width: 59px;
    text-align: center; }
  .table-filter > #is-missing-urgent-report-filter {
    margin: 10px 0 0 16px; }
  .table-filter > #is-a-priority-target-filter {
    margin: 10px 0 0 28px; }
  .table-filter > .close {
    position: relative;
    margin: 5px -15px 0 0; }
    .table-filter > .close:focus {
      opacity: 0.2; }

#search-results .table span.support-level {
  font-weight: bold; }

html {
  font-size: 14px; }

/* TODO .btn-primary {
  background-color: $actionColor;
  border-color: $actionColor;

  &.active,
  &:active,
  &:focus,
  &:hover {
    background-color: darken($actionColor, 10%);
    border-color: darken($actionColor, 10%);
  }
} */
a.btn-primary {
  color: white; }

textarea.form-control {
  resize: vertical;
  height: 8em; }

.table > thead > tr > th {
  vertical-align: middle; }
.table > tbody > tr.clickable:hover td {
  background-color: #428bca;
  color: white; }
.table > tbody > tr > td {
  vertical-align: middle; }

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-left: 0;
  margin-right: 0; }

.navbar {
  min-height: 0; }

.navbar-brand {
  height: auto; }

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 0;
  padding-top: 9px;
  padding-bottom: 9px; }

.navbar-nav > li > a {
  padding-top: 9px;
  padding-bottom: 9px; }

.navbar-toggle {
  border: none;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 7px; }

/* TODO .navbar-default {
  background-color: $alternate-bg-colour;
} */
/* TODO .form-control {
  &:focus {
    border-color: $actionColor;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px transparentize($actionColor, 0.7);
  }
} */
@media screen and (min-width: 49.5em) {
  .modal-body > p {
    font-size: 16px; } }

.jvectormap-zoomin,
.jvectormap-zoomout {
  width: 16px;
  height: 16px; }

#index #content tr.spaced > td {
  padding-top: 1.72em; }
#index #content td {
  width: 9em; }
#index #content a > span {
  font-weight: bold;
  color: #d9534f; }
#index #content table {
  width: 18em;
  margin: auto; }
#index #content #three-cols,
#index #content #four-cols,
#index #content #five-cols,
#index #content #six-cols {
  display: none; }
#index #content #map-container {
  display: none;
  margin-top: 40px; }
  @media screen and (min-width: 49.5em) {
    #index #content #map-container {
      display: block; } }
#index #content #map {
  width: 53em;
  height: 30.11364em; }
@media screen and (min-width: 26.4em) {
  #index #content > #two-cols {
    display: none; }
  #index #content > #three-cols {
    width: 27em;
    display: block; } }
@media screen and (min-width: 34.3em) {
  #index #content > #three-cols {
    display: none; }
  #index #content > #four-cols {
    width: 36em;
    display: block; } }
@media screen and (min-width: 42.1em) {
  #index #content > #four-cols {
    display: none; }
  #index #content > #five-cols {
    width: 45em;
    display: block; } }
@media screen and (min-width: 49.9em) {
  #index #content {
    /* > h1 {
      font-size: 4.65vw;
    } */ }
    #index #content > #five-cols {
      display: none; }
    #index #content > #six-cols {
      width: 54em;
      display: block;
      margin: auto; } }

#admin #content {
  max-width: 45em; }
  @media screen and (min-width: 49.5em) {
    #admin #content p {
      font-size: 16px; } }

#admin-login #content .form-groups {
  width: 20em;
  margin: auto; }
  #admin-login #content .form-groups:after {
    content: "";
    display: table;
    clear: both; }
#admin-login #content .submit-wrapper {
  padding-top: 0; }
#admin-login #content .other-form-error {
  margin-top: 20px; }

#find-your-legislator header {
  min-width: 34em; }
#find-your-legislator #content {
  min-width: 34em;
  max-width: 34em; }
  #find-your-legislator #content > form > div:after {
    content: "";
    display: table;
    clear: both; }
  #find-your-legislator #content > form .form-group {
    width: 23em; }
  #find-your-legislator #content .submit-wrapper {
    float: left;
    padding-top: 0;
    margin-top: 24px; }
    #find-your-legislator #content .submit-wrapper > button {
      width: 7em; }
  #find-your-legislator #content .alert-warning {
    text-align: center; }
  #find-your-legislator #content th.title {
    width: 8%;
    text-align: center; }
  #find-your-legislator #content th.name {
    width: 28%; }
  #find-your-legislator #content th.political-parties {
    width: 8%;
    text-align: center;
    padding: 15px 0; }
  #find-your-legislator #content th.district {
    width: 26%; }
  #find-your-legislator #content th.support-level {
    width: 30%; }
#find-your-legislator footer {
  min-width: 34em; }

@media screen and (min-width: 61.5em) {
  #search-legislators:after {
    content: "SEARCH_LEGISLATORS_FULL_WIDTH_BREAKPOINT";
    visibility: hidden;
    position: absolute;
    clip: rect(0 0 0 0); }
  #search-legislators .js-breakpoints-SEARCH_LEGISLATORS_FULL_WIDTH_BREAKPOINT {
    position: absolute; } }
#search-legislators header {
  min-width: 68.5em; }
#search-legislators #content {
  min-width: 68.5em;
  max-width: 68.5em;
  padding-bottom: 5em; }
  #search-legislators #content form > div:first-child {
    width: 26em; }
  #search-legislators #content #advanced-toggle {
    float: left;
    width: 5em;
    padding-top: 5px; }
  #search-legislators #content #advanced-search-fields:after {
    content: "";
    display: table;
    clear: both; }
  #search-legislators #content #advanced-search-fields > .form-group {
    width: 16em; }
  #search-legislators #content #advanced-search-fields #committees-form-group {
    width: 48.5em;
    margin-right: 0; }
  #search-legislators #content #name-filter {
    width: 145px; }
  #search-legislators #content #district-filter {
    width: 111px; }
  #search-legislators #content #support-level-filter {
    width: 156px; }
  #search-legislators #content #latest-contact-filter {
    width: 102px; }
  #search-legislators #content > #sticky-table-header {
    width: 66.5em; }
  #search-legislators #content th.name,
  #search-legislators #content td.name {
    width: 148px; }
  #search-legislators #content th.district,
  #search-legislators #content td.district {
    width: 114px; }
  #search-legislators #content th.support-level,
  #search-legislators #content td.support-level {
    width: 159px; }
  #search-legislators #content th.latest-contact,
  #search-legislators #content td.latest-contact {
    width: 105px; }
#search-legislators footer {
  min-width: 59.9375em;
  font-size: 16px; }
  #search-legislators footer > a,
  #search-legislators footer > a:visited,
  #search-legislators footer > a:hover,
  #search-legislators footer > a:focus {
    width: auto; }

@media screen and (min-width: 52.3em) {
  #state-reports:after {
    content: "STATE_REPORTS_FULL_WIDTH_BREAKPOINT";
    visibility: hidden;
    position: absolute;
    clip: rect(0 0 0 0); }
  #state-reports .js-breakpoints-STATE_REPORTS_FULL_WIDTH_BREAKPOINT {
    position: absolute; } }
#state-reports header {
  min-width: 58.3em; }
#state-reports #content {
  min-width: 58.3em;
  max-width: 58.3em;
  padding-bottom: 5em; }
  #state-reports #content > form > div:first-child {
    width: 19em; }
  #state-reports #content > #whip-count-per-chamber:after {
    content: "";
    display: table;
    clear: both; }
  #state-reports #content > #whip-count-per-chamber > article {
    float: left;
    margin-right: 1em; }
    #state-reports #content > #whip-count-per-chamber > article:last-child {
      margin-right: 0; }
  #state-reports #content > #whip-count-per-chamber ul {
    list-style-type: none;
    padding-left: 0; }
  #state-reports #content > #whip-count-per-chamber li {
    margin-bottom: 5px; }
    #state-reports #content > #whip-count-per-chamber li:after {
      content: "";
      display: table;
      clear: both; }
    #state-reports #content > #whip-count-per-chamber li.hover > .support-level-bar-wrapper {
      background-color: rgba(0, 0, 0, 0.05); }
  #state-reports #content > #whip-count-per-chamber .support-level,
  #state-reports #content > #whip-count-per-chamber .count,
  #state-reports #content > #whip-count-per-chamber .percentage,
  #state-reports #content > #whip-count-per-chamber .support-level-bar-wrapper {
    float: left; }
  #state-reports #content > #whip-count-per-chamber .support-level {
    font-size: 13px;
    letter-spacing: -0.5px;
    width: 7.8em; }
  #state-reports #content > #whip-count-per-chamber .count,
  #state-reports #content > #whip-count-per-chamber .percentage {
    font-size: 13px;
    text-align: center;
    width: 2.5em; }
  #state-reports #content > #whip-count-per-chamber .percentage {
    display: none; }
  #state-reports #content > #whip-count-per-chamber .support-level-bar-wrapper {
    width: 8.3em; }
    #state-reports #content > #whip-count-per-chamber .support-level-bar-wrapper > div {
      min-height: 1.75em; }
      #state-reports #content > #whip-count-per-chamber .support-level-bar-wrapper > div.UNKNOWN {
        background-color: #999999; }
      #state-reports #content > #whip-count-per-chamber .support-level-bar-wrapper > div.SUPPORTIVE {
        background-color: #5cb85c; }
      #state-reports #content > #whip-count-per-chamber .support-level-bar-wrapper > div.NEEDS_CONVINCING {
        background-color: #f0ad4e; }
      #state-reports #content > #whip-count-per-chamber .support-level-bar-wrapper > div.NOT_SUPPORTIVE {
        background-color: #d9534f; }
  #state-reports #content h2 {
    text-align: left;
    margin-top: 0; }
  #state-reports #content #name-filter {
    width: 134px; }
  #state-reports #content #district-filter {
    width: 106px; }
  #state-reports #content #support-level-filter {
    width: 134px; }
  #state-reports #content #sticky-table-header {
    width: 56.3em; }
  #state-reports #content > #search-results > article {
    margin-bottom: 20px; }
  #state-reports #content > #search-results thead {
    display: none; }
  #state-reports #content th.name,
  #state-reports #content td.name {
    width: 137px; }
  #state-reports #content th.district,
  #state-reports #content td.district {
    width: 109px; }
  #state-reports #content th.support-level,
  #state-reports #content td.support-level {
    width: 137px; }
#state-reports footer {
  min-width: 51.0125em;
  font-size: 16px; }
  #state-reports footer > a,
  #state-reports footer > a:visited,
  #state-reports footer > a:hover,
  #state-reports footer > a:focus {
    width: auto; }

@media screen and (min-width: 39.5em) {
  #state-legislator:after {
    content: "STATE_LEGISLATOR_MEDIUM_SCREEN_BREAKPOINT";
    visibility: hidden;
    position: absolute;
    clip: rect(0 0 0 0); }
  #state-legislator .js-breakpoints-STATE_LEGISLATOR_MEDIUM_SCREEN_BREAKPOINT {
    position: absolute; } }
#state-legislator #content #legislator-data,
#state-legislator #content #committees {
  width: 20em; }
  @media screen and (min-width: 39.5em) {
    #state-legislator #content #legislator-data,
    #state-legislator #content #committees {
      width: 42em; } }
#state-legislator #content #legislator-data {
  margin: 0 auto; }
  #state-legislator #content #legislator-data > div:first-child > p {
    text-align: center;
    margin-bottom: 0; }
  #state-legislator #content #legislator-data img {
    margin-bottom: 10px; }
  @media screen and (min-width: 49.5em) {
    #state-legislator #content #legislator-data {
      width: 100%; }
      #state-legislator #content #legislator-data:after {
        content: "";
        display: table;
        clear: both; }
      #state-legislator #content #legislator-data > div {
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        #state-legislator #content #legislator-data > div:first-child {
          width: 30%; }
        #state-legislator #content #legislator-data > div:nth-child(2) {
          width: 40%;
          padding-right: 1em; }
        #state-legislator #content #legislator-data > div:last-child {
          width: 30%; } }
  #state-legislator #content #legislator-data table {
    margin-bottom: 10px; }
    #state-legislator #content #legislator-data table td {
      text-align: center; }
#state-legislator #content #phone-numbers {
  margin-bottom: 20px;
  margin-top: 10px; }
  @media screen and (min-width: 49.5em) {
    #state-legislator #content #phone-numbers {
      margin-top: 0; } }
  #state-legislator #content #phone-numbers > article,
  #state-legislator #content #phone-numbers > .form-group {
    width: 20em;
    margin: 0 auto; }
  #state-legislator #content #phone-numbers label {
    margin-top: 5px;
    margin-right: 1em;
    vertical-align: top;
    width: 4.5em; }
    #state-legislator #content #phone-numbers label[for="other-phone-number"] {
      margin: 6px 0 0 0; }
  #state-legislator #content #phone-numbers span,
  #state-legislator #content #phone-numbers a {
    font-size: 29px;
    line-height: 1em; }
#state-legislator #content #other-phone-number {
  display: inline-block;
  font-size: 29px;
  width: 7.4em;
  height: 41px; }
#state-legislator #content #current-support-level {
  text-align: center;
  margin-bottom: 10px; }
  #state-legislator #content #current-support-level > .support-level {
    font-weight: bold; }
#state-legislator #content #missing-urgent-report-and-priority-target {
  margin-bottom: 20px; }
  #state-legislator #content #missing-urgent-report-and-priority-target:after {
    content: "";
    display: table;
    clear: both; }
  #state-legislator #content #missing-urgent-report-and-priority-target > article {
    letter-spacing: -0.5px;
    float: left; }
    #state-legislator #content #missing-urgent-report-and-priority-target > article:last-child {
      float: right; }
@media screen and (min-width: 49.5em) {
  #state-legislator #content .office-address span {
    font-size: 14px; } }
#state-legislator #content .office-address p {
  text-align: left; }
  @media screen and (min-width: 49.5em) {
    #state-legislator #content .office-address p {
      font-size: 13px;
      letter-spacing: -0.5px; } }
#state-legislator #content #committees {
  text-align: center;
  margin: 0 auto; }
  #state-legislator #content #committees > ul {
    display: none;
    margin-bottom: 0;
    padding-left: 1em;
    width: 100%;
    text-align: left; }
  #state-legislator #content #committees li {
    font-size: 14px; }
  #state-legislator #content #committees span {
    font-style: italic; }
#state-legislator #content #new-report h2 {
  margin-top: 0; }
#state-legislator #content #new-report .submit-wrapper {
  padding-top: 0; }
#state-legislator #content .reports > .alert-info {
  text-align: center; }
