@main("Admin login", "admin-login") {
<!--
    Header
-->
@navbar(false, "admin-login")

} {
<!--
    Content
-->
<h1>Please log in<br /> to access admin features</h1>

<form role="form">
    <section class="form-groups">
        <div class="form-group">
            <label for="username" class="mdnz-polyfill placeholder">Username</label><!--
         --><input type="text" id="username" placeholder="Username" class="form-control" />

            <p class="field-error" data-check="empty"></p>
        </div>

        <div class="form-group">
            <label for="password" class="mdnz-polyfill placeholder">Password</label><!--
         --><input type="password" id="password" placeholder="Password" class="form-control" />

            <p class="field-error" data-check="empty"></p>
        </div>
    </section>

    <div class="submit-wrapper">
        <button type="submit" class="btn btn-primary" data-loading-text="Logging in...">Log in</button>
    </div>

    <p class="other-form-error">Wrong credentials :( Please try again!</p>
</form>

} {
<!--
    Javascript
-->
<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.AdminLogin({
            el: "#content"
        }).run();
    });
</script>

}