@(isServiceRunning: Boolean)
@main("Admin panel", "admin") {
<!--
    Header
-->
@navbar(true, "admin")

} {
<!--
    Content
-->
<h1>Admin panel</h1>

<p>Except for the legislator reports, Howl At Them gets its data using the <a href="http://votesmart.org/share/api" target="_blank">Vote Smart API</a>.</p>

<p>If you notice that Howl At Them displays outdated information, you can fetch the latest data from Vote Smart. The
    current data will be replaced by the new one only if the whole process completes successfully.</p>

<p>Once an admin launches an <em>Update Data</em>, the feature will be blocked until it completes. This is a long process: it takes an hour or two.</p>

<div class="alert alert-warning" role="alert">
    <p>The easiest way to know that the <em>Update Data</em> script completed successfully, is for the <em>Update Data</em> button to appear again and be clickable.</p>

    <p>If you want to be sure, check the log file (<code>howl-at-them/website/target/</code> <code>universal/stage/logs/application.log</code>).
        The last task of <em>Update Data</em> is the re-creation of the <code>state_legislator</code> view. This means that if you see <code>DbAdmin.createViewStateLegislator():</code>
        in the log file, it's a very good sign that the process completed successfully.</p>
</div>

@if(isServiceRunning) {
<div class="alert alert-info">Already running!!!</div>
} else {
<div class="centered-contents">
    <button id="update-data" type="button" class="btn btn-primary" data-loading-text="Updating data...">Update data</button>
</div>
}

} {
<!--
    Javascript
-->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        new CBR.Controllers.Admin({
            el: "#content"
        }).run();
    });
</script>

}