@main("Howl at Them", "index") {
<!--
    Header
-->
@navbar(None, "index")

} {
<!--
    Content
-->
<h1>Click on your state to get started!</h1>

<section id="map-container">
    <div id="map"></div>
</section>

<table id="two-cols">
    <tbody>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AL"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CA"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AK"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CO"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AZ"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CT"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AR"))</td>
        <td></td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("DE"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("FL"))</td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("GA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("HI"))</td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("ID"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("KS"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("IL"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("KY"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("IN"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("IA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("LA"))</td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("ME"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NE"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MD"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NV"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NH"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MI"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NJ"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MN"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NM"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MS"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NY"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MO"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NC"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MT"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("ND"))</td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("OH"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("PA"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("OK"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("OR"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("RI"))</td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("SC"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("TN"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("SD"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("TX"))</td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("UT"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("VT"))</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("VA"))</td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("WA"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("WV"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("WI"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("WY"))</td>
        <td></td>
    </tr>
    </tbody>
</table>

<table id="three-cols">
    <tbody>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AL"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("DE"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AK"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CO"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AZ"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CT"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("FL"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AR"))</td>
        <td></td>
        <td></td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("GA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("ID"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("KS"))</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("IL"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("KY"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("HI"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("IN"))</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("IA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("LA"))</td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("ME"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NE"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("OH"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MD"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NV"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("OK"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NH"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("OR"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MI"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NJ"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MN"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NM"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("PA"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MS"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NY"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MO"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NC"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("RI"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MT"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("ND"))</td>
        <td></td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("SC"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("TN"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("UT"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("SD"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("TX"))</td>
        <td></td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("VT"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("WA"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("VA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("WV"))</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("WI"))</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("WY"))</td>
        <td></td>
    </tr>
    </tbody>
</table>

<table id="four-cols">
    <tbody>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AL"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("DE"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("GA"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AK"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CO"))</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AZ"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CT"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("FL"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("HI"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AR"))</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("ID"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("ME"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NE"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("OH"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("IL"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("MD"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NV"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("OK"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("IN"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("MA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NH"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("OR"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("IA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("MI"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NJ"))</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("MN"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NM"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("PA"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("KS"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("MS"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NY"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("KY"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("MO"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NC"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("RI"))</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("MT"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("ND"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("LA"))</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("SC"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("TN"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("UT"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("VT"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("SD"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("TX"))</td>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("VA"))</td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("WA"))</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("WV"))</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("WI"))</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("WY"))</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>

<table id="five-cols">
    <tbody>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AL"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("DE"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("GA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("ID"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AK"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CO"))</td>
        <td></td>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("IL"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AZ"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CT"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("FL"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("HI"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("IN"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AR"))</td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("IA"))</td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("KS"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("ME"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NE"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("OH"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("SC"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("KY"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("MD"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NV"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("OK"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("SD"))</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("MA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NH"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("OR"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("LA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("MI"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NJ"))</td>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("TN"))</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("MN"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NM"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("PA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("TX"))</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("MS"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NY"))</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("MO"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NC"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("RI"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("UT"))</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("MT"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("ND"))</td>
        <td></td>
        <td></td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("VT"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("WA"))</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("VA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("WV"))</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("WI"))</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("WY"))</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>

<table id="six-cols">
    <tbody>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AL"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("DE"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("GA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("ID"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("KS"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AK"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CO"))</td>
        <td></td>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("IL"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("KY"))</td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AZ"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("CT"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("FL"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("HI"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("IN"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("AR"))</td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("IA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("LA"))</td>
    </tr>
    <tr class="spaced">
        <td>@Html(UsState.getLinkOnIndexPage("ME"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NE"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("OH"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("SC"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("VT"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MD"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NV"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("OK"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("SD"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("VA"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NH"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("OR"))</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MI"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NJ"))</td>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("TN"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("WA"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MN"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NM"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("PA"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("TX"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("WV"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MS"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NY"))</td>
        <td></td>
        <td></td>
        <td>@Html(UsState.getLinkOnIndexPage("WI"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MO"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("NC"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("RI"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("UT"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("WY"))</td>
        <td></td>
    </tr>
    <tr>
        <td>@Html(UsState.getLinkOnIndexPage("MT"))</td>
        <td>@Html(UsState.getLinkOnIndexPage("ND"))</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>

} {
<!--
    Javascript
-->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        new CBR.Controllers.Index({
            el: "#content"
        }).run();
    });
</script>

}