@(usStates: List[models.UsState])
@main("Join", "join") {
<!--
    Header
-->

} {
<!--
    Content
-->
<h1>Join the Wolf Pack!</h1>

<form role="form">
    <div class="form-group">
        <label for="first-name">First name <span>*</span></label><!--
     --><input type="text" id="first-name" class="form-control" />

        <p class="field-error" data-check="empty"></p>
    </div>

    <div class="form-group">
        <label for="last-name">Last name <span>*</span></label><!--
     --><input type="text" id="last-name" class="form-control" />

        <p class="field-error" data-check="empty"></p>
    </div>

    <div class="form-group">
        <label for="email">Email address <span>*</span></label><!--
     --><input type="text" id="email" class="form-control" />

        <p class="field-error" data-check="empty"></p>
        <p class="field-error" data-check="email">Would you mind checking that e-mail address?</p>
        <p class="field-error" id="email-already-registered">This e-mail is already registered in our system.</p>
    </div>

    <div class="form-group">
        <label for="email-confirmation">Confirm email <span>*</span></label><!--
     --><input type="text" id="email-confirmation" class="form-control" autocomplete="off" />

        <p class="field-error" data-check="empty"></p>
        <p class="field-error" data-check="email">Would you mind checking that e-mail address?</p>
        <p class="field-error" id="emails-do-not-match">The e-mails do not match :(</p>
    </div>

    <div class="form-group">
        <label for="password">Password <span>*</span></label><!--
     --><input type="password" id="password" class="form-control" />

        <p class="field-error" data-check="empty"></p>
    </div>

    <div class="form-group">
        <label for="us-state">State <span>*</span></label><!--
     --><select id="us-state" class="form-control">
        @for(usState <- usStates) {
            <option value=@usState.id>@usState.name</option>
        }
        </select>
    </div>

    <div class="submit-wrapper">
        <button type="submit" class="btn btn-primary" data-loading-text="Joining...">Join</button>
    </div>
</form>

<p class="centered-contents">
    <span>Already registered?</span> <a href="/?action=login">Login</a>
</p>
} {
<!--
    Javascript
-->
<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.Join({
            el: "#content"
        }).run();
    });
</script>
}