@(account: models.frontend.FrontendAccount, usStates: List[models.UsState])
@main("My Account", "my-account") {
<!--
    Header
-->
<a href="/logout">Logout</a>

} {
<!--
    Content
-->
<h1>My account</h1>

<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Your changes were saved
</div>

<form role="form">
    <div class="form-group">
        <label for="first-name">First name <span>*</span></label><!--
     --><input type="text" id="first-name" class="form-control" value="@account.firstName" />

        <p class="field-error" data-check="empty"></p>
    </div>

    <div class="form-group">
        <label for="last-name">Last name <span>*</span></label><!--
     --><input type="text" id="last-name" class="form-control" value="@account.lastName"/>

        <p class="field-error" data-check="empty"></p>
    </div>

    <div class="form-group">
        <label for="email">Email address</label><!--
     --><input type="text" id="email" class="form-control" value="@account.emailAddress" disabled />
    </div>

    <div class="form-group">
        <label for="password">Password</label><!--
     --><input type="password" id="password" class="form-control" />
    </div>

    <div class="form-group">
        <label for="us-state">State <span>*</span></label><!--
     --><select id="us-state" class="form-control">
        @for(usState <- usStates) {
            <option value=@usState.id @if(account.usState.id == usState.id) { selected }>@usState.name</option>
        }
        </select>
    </div>

    <div class="submit-wrapper">
        <button type="submit" class="btn btn-primary" data-loading-text="Saving...">Save changes</button>
    </div>

    <button class="btn btn-danger">Delete account</button>
</form>
} {
<!--
    Javascript
-->
<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.MyAccount({
            el: "#content",
            account: @Html(services.JsonUtil.serialize(account))
        }).run();
    });
</script>

}