@(isAdmin: Boolean, pageId: String)
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-links">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Howl at Them</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-links">
            <ul class="nav navbar-nav navbar-right">
                <li @if(pageId == "state-reports") { class="active" }><a href="/state-reports">State reports</a></li>
                <li @if(pageId == "search-legislators") { class="active" }><a href="/state-legislators">Search legislators</a></li>
                <li><a href="#">Script</a></li>
                <li><a href="#">Toolbox</a></li>
                @if(isAdmin) {
                <li><a href="/logout">Log out</a></li>
                } else {
                <li @if(pageId == "admin-login") { class="active" }><a href="/admin">Admin</a></li>
                }
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
