@(stateLegislatorTitles: List[models.StateLegislatorTitle], politicalParties: List[models.PoliticalParty], usStates: List[models.UsState], action: Option[String])
@main("New state legislator", "new-state-legislator") {
<!--
    Header
-->
<a href="/logout">Logout</a>

} {
<!--
    Content
-->
<h1>New state legislator</h1>

@if(action.isDefined && action.get == "added") {
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    The new state legislator was saved
</div>
}

<form role="form">
    <div class="form-group">
        <label for="first-name">First name <span>*</span></label><!--
     --><input type="text" id="first-name" class="form-control" />

        <p class="field-error" data-check="empty"></p>
    </div>

    <div class="form-group">
        <label for="last-name">Last name <span>*</span></label><!--
     --><input type="text" id="last-name" class="form-control" />

        <p class="field-error" data-check="empty"></p>
    </div>

    <div class="form-group">
        <label for="state-legislator-title">Title <span>*</span></label><!--
     --><select id="state-legislator-title" class="form-control">
        @for(stateLegislatorTitle <- stateLegislatorTitles) {
            <option value=@stateLegislatorTitle.id>@stateLegislatorTitle.name</option>
        }
        </select>
    </div>

    <div class="form-group">
        <label for="political-party">Party <span>*</span></label><!--
     --><select id="political-party" class="form-control">
        @for(politicalParty <- politicalParties) {
            <option value=@politicalParty.id>@politicalParty.name</option>
        }
        </select>
    </div>

    <div class="form-group">
        <label for="us-state">State <span>*</span></label><!--
     --><select id="us-state" class="form-control">
        @for(usState <- usStates) {
            <option value=@usState.id>@usState.name</option>
        }
    </select>
    </div>

    <div class="form-group">
        <label for="district">District <span>*</span></label><!--
     --><input type="text" id="district" class="form-control" />

        <p class="field-error" data-check="empty"></p>
        <p class="field-error" data-check="integer">Please enter an integer number</p>
    </div>

    <div class="form-group">
        <label for="phone-number">Phone number</label><!--
     --><input type="text" id="phone-number" class="form-control" />
    </div>

    <div class="form-group">
        <label for="ideology-ranking">Ideology ranking</label><!--
     --><input type="text" id="ideology-ranking" class="form-control" />

        <p class="field-error" data-check="decimal">Please enter a decimal number</p>
    </div>

    <div class="submit-wrapper">
        <button type="submit" class="btn btn-primary" data-loading-text="Adding state legislator...">Add this state legislator</button>
    </div>
</form>
} {
<!--
    Javascript
-->
<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.NewStateLegislator({
            el: "#content"
        }).run();
    });
</script>

}