<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")"> -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="@routes.Assets.at("main-v1.css")">
</head>

<body>
<div id="container">
    <div id="content" role="main">
        <h1>404<br />Page not found</h1>
    </div>
</div>
</body>
</html>
