@(usStates: List[UsState], leadershipPositionsInState: List[LeadershipPosition], committeeNamesInState: List[String], isAdmin: Boolean, selectedUsStateId: Option[String], selectedLeadershipPositionId: Option[Int], selectedCommitteeName: Option[String], selectedIsAPriorityTarget: Boolean)
@main("Search legislators", "search-legislators") {
<!--
    Header
-->
@navbar(isAdmin, "search-legislators")

} {
<!--
    Content
-->
<h1>Search legislators</h1>

<form role="form">
    <div>
        <div class="form-group">
            <label for="us-state">State</label><!--
         --><select id="us-state" class="form-control">
                @for(usState <- usStates) {
                <option value="@usState.id" @if(selectedUsStateId.isDefined && selectedUsStateId.get == usState.id) { selected }>@usState.name</option>
                }
            </select>
        </div>

        <a id="advanced-toggle">Advanced</a>
    </div>

    <div id="advanced-search-fields" @if(!selectedLeadershipPositionId.isDefined && !selectedCommitteeName.isDefined && !selectedIsAPriorityTarget) { style="display: none" }>
        <div class="form-group">
            <label for="leadership-position">Leadership position</label><!--
         --><select id="leadership-position" class="form-control">
                <option value=""></option>
                @for(leadershipPosition <- leadershipPositionsInState) {
                <option value="@leadershipPosition.id" @if(selectedLeadershipPositionId.isDefined && selectedLeadershipPositionId.get == leadershipPosition.id) { selected }>@leadershipPosition.name</option>
                }
            </select>
        </div>

        <div class="form-group" id="committees-form-group">
            <label for="committee">Committee</label><!--
         --><select id="committee" class="form-control">
                <option value=""></option>
                @for(committeeName <- committeeNamesInState) {
                <option value="@committeeName" @if(selectedCommitteeName.isDefined && selectedCommitteeName.get == committeeName) { selected }>@committeeName</option>
                }
            </select>
        </div>

        <div class="form-group" id="priority-target-form-group">
            <article class="check-or-radio">
                <div><input type="checkbox" id="priority-target" @if(selectedIsAPriorityTarget) { checked } /></div>
                <div><label>Priority target</label></div>
            </article>
        </div>
    </div>
</form>

<table class="table table-striped table-bordered table-condensed" id="sticky-table-header">
    <thead>
    <tr>
        <th class="title">Title</th>
        <th class="name">Name</th>
        <th class="political-parties">Party</th>
        <th class="district">District</th>
        <th class="support-level">Support (nb reports)</th>
        <th class="mpp"><span class="yes-no-answer">Money in<br />politics is<br />a problem</span></th>
        <th class="safi"><span class="yes-no-answer">Supports<br />amendment<br />to fix it</span></th>
        <th class="ocu"><span class="yes-no-answer">Opposes<br />Citizens<br />United</span></th>
        <th class="pvc"><span class="yes-no-answer">Previous<br />vote for<br />convention</span></th>
        <th class="last-contact">Last contact</th>
    </tr>
    </thead>
</table>

<div id="table-wrapper"></div>

} {
<!--
    Javascript
-->
<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.SearchLegislators({
            el: "#content"
        }).run();
    });
</script>

}