@(usStates: List[UsState], leadershipPositionsInState: List[LeadershipPosition], committeeNamesInState: List[String], isAdmin: Boolean, selectedUsStateId: Option[String], selectedLeadershipPositionId: Option[Int], selectedCommitteeName: Option[String], selectedIsAPriorityTarget: Boolean)
@main("Search legislators", "search-legislators") {
<!--
    Header
-->
@navbar(isAdmin, "search-legislators")

} {
<!--
    Content
-->
<h1>Search legislators</h1>

<form role="form">
    <div>
        <div class="form-group">
            <label for="us-state">State</label><!--
         --><select id="us-state" class="form-control">
                @for(usState <- usStates) {
                <option value="@usState.id" @if(selectedUsStateId.isDefined && selectedUsStateId.get == usState.id) { selected }>@usState.name</option>
                }
            </select>
        </div>

        <div class="submit-wrapper">
            <button type="submit" class="btn btn-primary" data-loading-text="Searching...">Search</button>
        </div>

        <a id="advanced-toggle">Advanced</a>
    </div>

    <div id="advanced-search-fields" @if(!selectedLeadershipPositionId.isDefined && !selectedCommitteeName.isDefined && !selectedIsAPriorityTarget) { style="display: none" }>
        <div class="form-group">
            <label for="leadership-position">Leadership position</label><!--
         --><select id="leadership-position" class="form-control">
                <option value=""></option>
                @for(leadershipPosition <- leadershipPositionsInState) {
                <option value="@leadershipPosition.id" @if(selectedLeadershipPositionId.isDefined && selectedLeadershipPositionId.get == leadershipPosition.id) { selected }>@leadershipPosition.name</option>
                }
            </select>
        </div>

        <div class="form-group" id="committees-form-group">
            <label for="committee">Committee</label><!--
         --><select id="committee" class="form-control">
                <option value=""></option>
                @for(committeeName <- committeeNamesInState) {
                <option value="@committeeName" @if(selectedCommitteeName.isDefined && selectedCommitteeName.get == committeeName) { selected }>@committeeName</option>
                }
            </select>
        </div>

        <div class="form-group" id="priority-target-form-group">
            <article class="check-or-radio">
                <div><input type="checkbox" id="priority-target" @if(selectedIsAPriorityTarget) { checked } /></div>
                <div><label>Priority target</label></div>
            </article>
        </div>
    </div>
</form>

<div id="table-wrapper"></div>

} {
<!--
    Javascript
-->
<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.SearchLegislators({
            el: "#content"
        }).run();
    });
</script>

}