@(usStates: List[UsState], account: Option[Account], selectedUsStateId: Option[String], firstLegislator: Option[models.frontend.DetailedStateLegislator], nextLegislators: List[models.frontend.DetailedStateLegislator], action: Option[String])
@main("State reports", "state-reports") {
<!--
    Header
-->
@navbar(account, "state-reports")

} {
<!--
    Content
-->
@if(action.isDefined && action.get == "savedReport") {
<div id="report-saved" class="alert alert-success alert-dismissable floating">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Report saved
</div>
}

@if(action.isDefined && action.get == "deletedReport") {
<div id="report-deleted" class="alert alert-success alert-dismissable floating">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Report deleted
</div>
}

<h1>State reports</h1>

<form role="form">
    <div>
        <div class="form-group">
            <label for="us-state">State</label><!--
         --><select id="us-state" class="form-control">
                <option value=""></option>
                @for(usState <- usStates) {
                <option value="@usState.id" @if(selectedUsStateId.isDefined && selectedUsStateId.get == usState.id) { selected }>@usState.name</option>
                }
            </select>

            <p class="field-error" data-check="empty"></p>
        </div>

        <div class="submit-wrapper">
            <button type="submit" class="btn btn-primary" data-loading-text="Searching...">Search</button>
        </div>
    </div>
</form>

@if(firstLegislator.isDefined) {
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th class="title">Title</th>
            <th class="name">Name</th>
            <th class="political-parties">P</th>
            <th class="district">District</th>
            <th class="support-level">Support level</th>
            <th class="mpp"><span class="yes-no-answer">Money in<br />politics is<br />a problem</span></th>
            <th class="safi"><span class="yes-no-answer">Supports<br />amendment<br />to fix it</span></th>
            <th class="ocu"><span class="yes-no-answer">Opposes<br />Citizens<br />United</span></th>
            <th class="pvc"><span class="yes-no-answer">Previous<br />vote for<br />convention</span></th>
        </tr>
    </thead>
    <tbody>
        <tr data-id="@firstLegislator.get.id" class="clickable">
            <td>@Html(firstLegislator.get.getTitleAbbr)</td>
            <td>@firstLegislator.get.firstName @firstLegislator.get.lastName</td>
            <td>@Html(firstLegislator.get.getPoliticalPartiesAbbr)</td>
            <td>@firstLegislator.get.usState.id @firstLegislator.get.district</td>
            <td>
                @if(!firstLegislator.get.reports.isEmpty) {
                    @Html(firstLegislator.get.reports.head.getSupportLevelSpan)
                }
            </td>
            <td>
                @if(!firstLegislator.get.reports.isEmpty) {
                    @Html(Report.getSpanForYesNoAnswer(firstLegislator.get.reports.head.isMoneyInPoliticsAProblem))
                }
            </td>
            <td>
                @if(!firstLegislator.get.reports.isEmpty) {
                    @Html(Report.getSpanForYesNoAnswer(firstLegislator.get.reports.head.isSupportingAmendmentToFixIt))
                }
            </td>
            <td>
                @if(!firstLegislator.get.reports.isEmpty) {
                    @Html(Report.getSpanForYesNoAnswer(firstLegislator.get.reports.head.isOpposingCitizensUnited))
                }
            </td>
            <td>
                @if(!firstLegislator.get.reports.isEmpty) {
                    @Html(Report.getSpanForYesNoAnswer(firstLegislator.get.reports.head.hasPreviouslyVotedForConvention))
                }
            </td>
        </tr>
    </tbody>
</table>
@if(!firstLegislator.get.reports.isEmpty) {
<section class="reports">
    @for(report <- firstLegislator.get.reports) {
    <article data-id="@report.id">
        <div>
            <span class="existing-report-date">@report.getReadableCreationTimestamp</span>
            <span class="existing-report-contact">@report.getReadableContact</span>
            <span class="existing-report-author-name">@report.authorName</span>
            <a class="delete-report">Delete</a>
            <a class="edit-report">Edit</a>
        </div>
        <div>
            @Html(report.getSupportLevelSpan)
            <span class="existing-report-yes-no-answers">@Report.getLetterForYesNoAnswer(report.isMoneyInPoliticsAProblem)
            @Report.getLetterForYesNoAnswer(report.isSupportingAmendmentToFixIt)
            @Report.getLetterForYesNoAnswer(report.isOpposingCitizensUnited)
            @Report.getLetterForYesNoAnswer(report.hasPreviouslyVotedForConvention)</span>
        </div>
        <p>@Html(report.getNotesForWeb)</p>
    </article>
    }
</section>
}

@for(legislator <- nextLegislators) {
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th class="title">Title</th>
            <th class="name">Name</th>
            <th class="political-parties">P</th>
            <th class="district">District</th>
            <th class="support-level">Support level</th>
            <th class="mpp">MPP</th>
            <th class="safi">SAFI</th>
            <th class="ocu">OCU</th>
            <th class="pvc">PVC</th>
        </tr>
    </thead>
    <tbody>
        <tr data-id="@legislator.id" class="clickable">
            <td>@Html(legislator.getTitleAbbr)</td>
            <td>@legislator.firstName @legislator.lastName</td>
            <td>@Html(legislator.getPoliticalPartiesAbbr)</td>
            <td>@legislator.usState.id @legislator.district</td>
            <td>
                @if(!legislator.reports.isEmpty) {
                @Html(legislator.reports.head.getSupportLevelSpan)
                }
            </td>
            <td>
                @if(!legislator.reports.isEmpty) {
                @Html(Report.getSpanForYesNoAnswer(legislator.reports.head.isMoneyInPoliticsAProblem))
                }
            </td>
            <td>
                @if(!legislator.reports.isEmpty) {
                @Html(Report.getSpanForYesNoAnswer(legislator.reports.head.isSupportingAmendmentToFixIt))
                }
            </td>
            <td>
                @if(!legislator.reports.isEmpty) {
                @Html(Report.getSpanForYesNoAnswer(legislator.reports.head.isOpposingCitizensUnited))
                }
            </td>
            <td>
                @if(!legislator.reports.isEmpty) {
                @Html(Report.getSpanForYesNoAnswer(legislator.reports.head.hasPreviouslyVotedForConvention))
                }
            </td>
        </tr>
    </tbody>
</table>
@if(!legislator.reports.isEmpty) {
<section class="reports">
    @for(report <- legislator.reports) {
    <article data-id="@report.id">
        <div>
            <span class="existing-report-date">@report.getReadableCreationTimestamp</span>
            <span class="existing-report-contact">@report.getReadableContact</span>
            <span class="existing-report-author-name">@report.authorName</span>
            <a class="delete-report">Delete</a>
            <a class="edit-report">Edit</a>
        </div>
        <div>
            @Html(report.getSupportLevelSpan)
            <span class="existing-report-yes-no-answers">@Report.getLetterForYesNoAnswer(report.isMoneyInPoliticsAProblem)
            @Report.getLetterForYesNoAnswer(report.isSupportingAmendmentToFixIt)
            @Report.getLetterForYesNoAnswer(report.isOpposingCitizensUnited)
            @Report.getLetterForYesNoAnswer(report.hasPreviouslyVotedForConvention)</span>
        </div>
        <p>@Html(report.getNotesForWeb)</p>
    </article>
    }
</section>
}
}
} else {
@if(selectedUsStateId.isDefined) {
<div class="alert alert-warning">No legislator for this state O_o; we may have a problem here...</div>
}
}

} {
<!--
    Javascript
-->
<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.StateReports({
            el: "#content"
        }).run();
    });
</script>

}