@(usStates: List[UsState], isAdmin: Boolean, selectedUsStateId: String, action: Option[String], leadershipPositionsInState: List[LeadershipPosition], committeeNamesInState: List[String], inputNbDaysSinceLastReport: Option[Int], selectedChamberOrTargetSearchCriteria: Option[String], selectedLeadershipPositionId: Option[Int], selectedCommitteeName: Option[String])
@main("State legislators", "state-legislators") {
<!--
    Header
-->
@navbar(isAdmin, "state-legislators")

} {
<!--
    Content
-->
@if(action.isDefined && action.get == "savedReport") {
<div id="report-saved" class="alert alert-success floating">Report saved</div>
}

@if(action.isDefined && action.get == "deletedReport") {
<div id="report-deleted" class="alert alert-success floating">Report deleted</div>
}

<h1>State legislators</h1>

<form role="form">
    <div id="primary-search-fields">
        <div class="form-group" id="state-form-group">
            <label for="us-state">State</label><!--
         --><select id="us-state" class="form-control">
                @for(usState <- usStates) {
                <option value="@usState.id" @if(selectedUsStateId == usState.id) { selected }>@usState.name</option>
                }
            </select>
        </div>

        <div class="form-group" id="last-updated-form-group">
            <label for="nb-days-since-last-report"><a id="updated-within-link">Updated</a><a id="not-updated-within-link">Not updated</a> within</label><!--
         --><span>the last</span><input type="text" class="form-control" id="nb-days-since-last-report" maxlength="1" @if(inputNbDaysSinceLastReport) { value="@inputNbDaysSinceLastReport.get"} /><span>days</span>

            <p class="field-error" data-check="integer">Must be 1 digit</p>
        </div>

        <div class="form-group" id="chamber-or-target-radio-buttons">
            <article class="check-or-radio">
                <div>
                    <input type="radio" name="chamber-or-target-filter" @if(!selectedChamberOrTargetSearchCriteria.isDefined) { checked } />
                </div>
                <div><label>All</label></div>
            </article>
            <article class="check-or-radio">
                <div>
                    <input type="radio" name="chamber-or-target-filter" value="@Chamber.HOUSE.getAbbr" @if(selectedChamberOrTargetSearchCriteria.isDefined && selectedChamberOrTargetSearchCriteria.get == Chamber.HOUSE.getAbbr) { checked } />
                </div>
                <div><label>@Chamber.HOUSE.getString</label></div>
            </article>
            <article class="check-or-radio">
                <div>
                    <input type="radio" name="chamber-or-target-filter" value="@Chamber.SENATE.getAbbr" @if(selectedChamberOrTargetSearchCriteria.isDefined && selectedChamberOrTargetSearchCriteria.get == Chamber.SENATE.getAbbr) { checked } />
                </div>
                <div><label>@Chamber.SENATE.getString</label></div>
            </article>
            <article class="check-or-radio">
                <div>
                    <input type="radio" name="chamber-or-target-filter" value="priorityTarget" @if(selectedChamberOrTargetSearchCriteria.isDefined && selectedChamberOrTargetSearchCriteria.get == "priorityTarget") { checked } />
                </div>
                <div><label>Targets</label></div>
            </article>
        </div>
    </div>

    <div id="advanced-search-fields">
        <div class="form-group">
            <label for="leadership-position">Leadership position</label><!--
         --><select id="leadership-position" class="form-control">
                <option value="">All leadership positions</option>
                <option disabled>----</option>
                @for(leadershipPosition <- leadershipPositionsInState) {
                <option value="@leadershipPosition.id" @if(selectedLeadershipPositionId.isDefined && selectedLeadershipPositionId.get == leadershipPosition.id) { selected }>@leadershipPosition.name</option>
                }
            </select>
        </div>

        <div class="form-group" id="committees-form-group">
            <label for="committee">Committee</label><!--
         --><select id="committee" class="form-control">
                <option value="">All committees</option>
                <option disabled>----</option>
                @for(committeeName <- committeeNamesInState) {
                <option value="@committeeName" @if(selectedCommitteeName.isDefined && selectedCommitteeName.get == committeeName) { selected }>@committeeName</option>
                }
            </select>
        </div>
    </div>
</form>

@if(isAdmin) {
<section id="whip-count-per-chamber">
    <article>
        <h2>House</h2>
        <ul>
            @emptyWhipCountListItem(SupportLevel.SUPPORTIVE)
            @emptyWhipCountListItem(SupportLevel.NEEDS_CONVINCING)
            @emptyWhipCountListItem(SupportLevel.NOT_SUPPORTIVE)
            @emptyWhipCountListItem(SupportLevel.UNKNOWN)
        </ul>
    </article>
    <article>
        <h2>Senate</h2>
        <ul>
            @emptyWhipCountListItem(SupportLevel.SUPPORTIVE)
            @emptyWhipCountListItem(SupportLevel.NEEDS_CONVINCING)
            @emptyWhipCountListItem(SupportLevel.NOT_SUPPORTIVE)
            @emptyWhipCountListItem(SupportLevel.UNKNOWN)
        </ul>
    </article>
    <article>
        <h2>Combined</h2>
        <ul>
            @emptyWhipCountListItem(SupportLevel.SUPPORTIVE)
            @emptyWhipCountListItem(SupportLevel.NEEDS_CONVINCING)
            @emptyWhipCountListItem(SupportLevel.NOT_SUPPORTIVE)
            @emptyWhipCountListItem(SupportLevel.UNKNOWN)
        </ul>
    </article>
</section>
}

<section class="table-filter">
    <label>Filter</label>
    <input type="text" class="form-control" id="name-filter">
    <input type="text" class="form-control" id="party-filter" maxlength="1">
    <input type="text" class="form-control" id="district-filter">
    <input type="text" class="form-control" id="support-level-filter" maxlength="16">
    <input type="text" class="form-control" id="mpp-filter" maxlength="1">
    <input type="text" class="form-control" id="safi-filter" maxlength="1">
    <input type="text" class="form-control" id="ocu-filter" maxlength="1">
    <input type="text" class="form-control" id="scp-filter" maxlength="1">
    <button type="button" class="close">&times;</button>
</section>

<table class="table table-striped table-bordered table-condensed" id="sticky-table-header">
    <thead>
    <tr>
        <th class="profile-pic"></th>
        <th class="title">Title</th>
        <th class="name">Name</th>
        <th class="political-parties">Party</th>
        <th class="district">District</th>
        <th class="support-level">Support level</th>
        <th class="mpp"><span class="yes-no-answer">Money in<br />politics is<br />a problem</span></th>
        <th class="safi"><span class="yes-no-answer">Supports<br />amendment<br />to fix it</span></th>
        <th class="ocu"><span class="yes-no-answer">Opposes<br />Citizens<br />United</span></th>
        <th class="scp"><span class="yes-no-answer">Supports<br />convention<br />process</span></th>
        <th class="is-a-priority-target">Target</th>
    </tr>
    </thead>
</table>

<table class="table table-striped table-bordered table-condensed" id="table-header-visible-even-when-no-results">
    <thead>
    <tr>
        <th class="profile-pic"></th>
        <th class="title">Title</th>
        <th class="name">Name</th>
        <th class="political-parties">Party</th>
        <th class="district">District</th>
        <th class="support-level">Support level</th>
        <th class="mpp"><span class="yes-no-answer">Money in<br />politics is<br />a problem</span></th>
        <th class="safi"><span class="yes-no-answer">Supports<br />amendment<br />to fix it</span></th>
        <th class="ocu"><span class="yes-no-answer">Opposes<br />Citizens<br />United</span></th>
        <th class="scp"><span class="yes-no-answer">Supports<br />convention<br />process</span></th>
        <th class="is-a-priority-target">Target</th>
    </tr>
    </thead>
</table>

<section id="search-results"></section>

} {
<!--
    Javascript
-->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        new CBR.Controllers.StateLegislators({
            el: "#content",
            isAdmin: @Html(play.api.libs.json.Json.toJson(isAdmin).toString)
        }).run();
    });
</script>

}