@(usStates: List[UsState], isAdmin: Boolean, selectedUsStateId: String, whipCountForHouse: List[models.frontend.WhipCount], whipCountForSenate: List[models.frontend.WhipCount], whipCountForBoth: List[models.frontend.WhipCount], legislators: List[models.frontend.DetailedStateLegislator], action: Option[String])
@main("State reports", "state-reports") {
<!--
    Header
-->
@navbar(isAdmin, "state-reports")

} {
<!--
    Content
-->
@if(action.isDefined && action.get == "savedReport") {
<div id="report-saved" class="alert alert-success floating">Report saved</div>
}

@if(action.isDefined && action.get == "deletedReport") {
<div id="report-deleted" class="alert alert-success floating">Report deleted</div>
}

<h1>State reports</h1>

<form role="form">
    <div>
        <div class="form-group">
            <label for="us-state">State</label><!--
         --><select id="us-state" class="form-control">
                @for(usState <- usStates) {
                <option value="@usState.id" @if(selectedUsStateId == usState.id) { selected }>@usState.name</option>
                }
            </select>
        </div>
    </div>
</form>

<section id="whip-count-per-chamber">
    <article>
        <h2>House</h2>
        <ul>
            @for(whipCount <- whipCountForHouse) {
            <li>
                <span class="support-level">@whipCount.supportLevel.getString</span>
                <span class="count">@whipCount.count</span>
                <span class="percentage">@whipCount.percentage%</span>
                <div class="support-level-bar-wrapper">
                    <div class="@whipCount.supportLevel" style="width: @whipCount.percentage%"></div>
                </div>
            </li>
            }
        </ul>
    </article>
    <article>
        <h2>Senate</h2>
        <ul>
            @for(whipCount <- whipCountForSenate) {
            <li>
                <span class="support-level">@whipCount.supportLevel.getString</span>
                <span class="count">@whipCount.count</span>
                <span class="percentage">@whipCount.percentage%</span>
                <div class="support-level-bar-wrapper">
                    <div class="@whipCount.supportLevel" style="width: @whipCount.percentage%"></div>
                </div>
            </li>
            }
        </ul>
    </article>
    <article>
        <h2>Combined</h2>
        <ul>
            @for(whipCount <- whipCountForBoth) {
            <li>
                <span class="support-level">@whipCount.supportLevel.getString</span>
                <span class="count">@whipCount.count</span>
                <span class="percentage">@whipCount.percentage%</span>
                <div class="support-level-bar-wrapper">
                    <div class="@whipCount.supportLevel" style="width: @whipCount.percentage%"></div>
                </div>
            </li>
            }
        </ul>
    </article>
</section>

<section class="table-filter">
    <input type="text" class="form-control" id="title-filter" maxlength="3">
    <input type="text" class="form-control" id="name-filter">
    <input type="text" class="form-control" id="party-filter" maxlength="1">
    <input type="text" class="form-control" id="district-filter">
    <input type="text" class="form-control" id="support-level-filter" maxlength="16">
    <input type="text" class="form-control" id="mpp-filter" maxlength="1">
    <input type="text" class="form-control" id="safi-filter" maxlength="1">
    <input type="text" class="form-control" id="ocu-filter" maxlength="1">
    <input type="text" class="form-control" id="pvc-filter" maxlength="1">
    <input type="checkbox" id="is-missing-urgent-report-filter" />
    <input type="checkbox" id="is-a-priority-target-filter" />
    <button type="button" class="close">&times;</button>
</section>

<table class="table table-striped table-bordered table-condensed" id="sticky-table-header">
    <thead>
    <tr>
        <th class="title">Title</th>
        <th class="name">Name</th>
        <th class="political-parties">Party</th>
        <th class="district">District</th>
        <th class="support-level">Support level</th>
        <th class="mpp"><span class="yes-no-answer">Money in<br />politics is<br />a problem</span></th>
        <th class="safi"><span class="yes-no-answer">Supports<br />amendment<br />to fix it</span></th>
        <th class="ocu"><span class="yes-no-answer">Opposes<br />Citizens<br />United</span></th>
        <th class="pvc"><span class="yes-no-answer">Previous<br />vote for<br />convention</span></th>
        <th class="is-missing-urgent-report">Report</th>
        <th class="is-a-priority-target">Target</th>
    </tr>
    </thead>
</table>

<table class="table table-striped table-bordered table-condensed" id="table-header-visible-even-when-no-results">
    <thead>
    <tr>
        <th class="title">Title</th>
        <th class="name">Name</th>
        <th class="political-parties">Party</th>
        <th class="district">District</th>
        <th class="support-level">Support level</th>
        <th class="mpp"><span class="yes-no-answer">Money in<br />politics is<br />a problem</span></th>
        <th class="safi"><span class="yes-no-answer">Supports<br />amendment<br />to fix it</span></th>
        <th class="ocu"><span class="yes-no-answer">Opposes<br />Citizens<br />United</span></th>
        <th class="pvc"><span class="yes-no-answer">Previous<br />vote for<br />convention</span></th>
        <th class="is-missing-urgent-report">Report</th>
        <th class="is-a-priority-target">Target</th>
    </tr>
    </thead>
</table>

<section id="search-results">
    @for(legislator <- legislators) {
    <article>
        <table class="table table-striped table-bordered table-condensed">
            @if(legislator != legislators.head) {
            <thead>
                <tr>
                    <th class="title">Title</th>
                    <th class="name">Name</th>
                    <th class="political-parties">Party</th>
                    <th class="district">District</th>
                    <th class="support-level">Support level</th>
                    <th class="mpp"><span class="yes-no-answer">Money in<br />politics is<br />a problem</span></th>
                    <th class="safi"><span class="yes-no-answer">Supports<br />amendment<br />to fix it</span></th>
                    <th class="ocu"><span class="yes-no-answer">Opposes<br />Citizens<br />United</span></th>
                    <th class="pvc"><span class="yes-no-answer">Previous<br />vote for<br />convention</span></th>
                    <th class="is-missing-urgent-report">Report</th>
                    <th class="is-a-priority-target">Target</th>
                </tr>
            </thead>
            }
            <tbody>
                <tr data-id="@legislator.id" class="clickable">
                    <td class="title">@Html(legislator.getTitleAbbr)</td>
                    <td class="name">@legislator.lastName @legislator.firstName</td>
                    <td class="political-parties"><span class="centered-contents">@Html(legislator.getPoliticalPartiesAbbr)</span></td>
                    <td class="district">@legislator.usState.id @legislator.getChamber.getAbbr @legislator.district</td>

                    @if(legislator.reports.isEmpty) {
                    <td class="support-level"><span class="support-level UNKNOWN">Unknown</span></td>
                    <td class="mpp">@Html(Report.getSpanForYesNoAnswer(None))</td>
                    <td class="safi">@Html(Report.getSpanForYesNoAnswer(None))</td>
                    <td class="ocu">@Html(Report.getSpanForYesNoAnswer(None))</td>
                    <td class="pvc">@Html(Report.getSpanForYesNoAnswer(None))</td>
                    } else {
                    <td class="support-level">@Html(legislator.reports.head.getSupportLevelSpan)</td>
                    <td class="mpp">@Html(Report.getSpanForYesNoAnswer(legislator.reports.head.isMoneyInPoliticsAProblem))</td>
                    <td class="safi">@Html(Report.getSpanForYesNoAnswer(legislator.reports.head.isSupportingAmendmentToFixIt))</td>
                    <td class="ocu">@Html(Report.getSpanForYesNoAnswer(legislator.reports.head.isOpposingCitizensUnited))</td>
                    <td class="pvc">@Html(Report.getSpanForYesNoAnswer(legislator.reports.head.hasPreviouslyVotedForConvention))</td>
                    }

                    <td class="is-missing-urgent-report"><input type="checkbox" @if(legislator.isMissingUrgentReport) { checked } /></td>
                    <td class="is-a-priority-target"><input type="checkbox" @if(legislator.isAPriorityTarget) { checked } /></td>
                </tr>
            </tbody>
        </table>
        @if(!legislator.reports.isEmpty) {
        <section class="reports">
            @for(report <- legislator.reports) {
            <article data-id="@report.id">
                <div>
                    <span class="existing-report-date">@report.getReadableCreationTimestamp</span>
                    <span class="existing-report-contact">@report.getReadableContact</span>
                    <span class="existing-report-author-name">@report.authorName</span>
                </div>
                <div>
                    @Html(report.getSupportLevelSpan)
                    <span class="existing-report-yes-no-answers">@Report.getLetterForYesNoAnswer(report.isMoneyInPoliticsAProblem)
                    @Report.getLetterForYesNoAnswer(report.isSupportingAmendmentToFixIt)
                    @Report.getLetterForYesNoAnswer(report.isOpposingCitizensUnited)
                    @Report.getLetterForYesNoAnswer(report.hasPreviouslyVotedForConvention)</span>
                </div>
                <p>@Html(report.getNotesForWeb)</p>
            </article>
            }
        </section>
        }
    </article>
    }
</section>

} {
<!--
    Javascript
-->
<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.StateReports({
            el: "#content",
            isAdmin: @Html(play.api.libs.json.Json.toJson(isAdmin).toString),
            legislators: @Html(play.api.libs.json.Json.toJson(legislators).toString)
        }).run();
    });
</script>

}