@(stateLegislator: models.frontend.DetailedStateLegislator, latestReport: Option[Report], existingReports: List[Report], action: Option[String], account: Option[Account])
@main(stateLegislator.firstName + " " + stateLegislator.lastName, "state-legislator") {
<!--
    Header
-->
@navbar(account, "state-legislator")

} {
<!--
    Content
-->
<h1>@stateLegislator.title @stateLegislator.firstName @stateLegislator.lastName</h1>

@if(action.isDefined && action.get == "savedReport") {
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Your report was saved.
</div>
}

<section id="legislator-data">
    <div class="centered-contents">
        <img src="@stateLegislator.getPhotoUrl" />
        <p>@stateLegislator.politicalParties.mkString("; ")</p>
        <p>@stateLegislator.usState.name district @stateLegislator.district</p>
        <p>@stateLegislator.leadershipPosition</p>
    </div>

    <div>
        <section id="phone-numbers">
            @for(office <- stateLegislator.offices) {
            <article>
                <label>@office.officeType</label><!--
             --><span>@office.phoneNumber</span>
            </article>
            }

            <div class="form-group">
                <label for="other-phone-number">Other</label><!--
             --><input type="text" id="other-phone-number" class="form-control" />
            </div>
        </section>

        <section id="support-level-and-priority-target">
            @if(latestReport.isDefined) {
                @Html(latestReport.get.getSupportLevelSpan)
            } else {
            <span class="support-level UNKNOWN">Unknown</span>
            }
            <article class="check-or-radio">
                <div><input type="checkbox" name="priority-target" /></div>
                <div><label>Priority target</label></div>
            </article>
        </section>

        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th><span class="yes-no-answer">Money in politics is a problem</span></th>
                    <th><span class="yes-no-answer">Supports amendment to fix it</span></th>
                    <th><span class="yes-no-answer">Opposes Citizens United</span></th>
                    <th><span class="yes-no-answer">Previous vote for convention</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @if(latestReport.isDefined) {
                    <td>@Html(Report.getSpanForYesNoAnswer(latestReport.get.isMoneyInPoliticsAProblem))</td>
                    <td>@Html(Report.getSpanForYesNoAnswer(latestReport.get.isSupportingAmendmentToFixIt))</td>
                    <td>@Html(Report.getSpanForYesNoAnswer(latestReport.get.isOpposingCitizensUnited))</td>
                    <td>@Html(Report.getSpanForYesNoAnswer(latestReport.get.hasPreviouslyVotedForConvention))</td>
                    } else {
                    <td><span class="yes-no-answer">?</span></td>
                    <td><span class="yes-no-answer">?</span></td>
                    <td><span class="yes-no-answer">?</span></td>
                    <td><span class="yes-no-answer">?</span></td>
                    }
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        @for(office <- stateLegislator.offices) {
        @if(office.street.isDefined) {
        <article class="office-address">
            <label>@office.officeType office</label>
            <p>@office.street<br />
            @office.city, @office.usStateId @office.zip</p>
        </article>
        }
        }
    </div>
</section>

<section id="committees">
    <a id="committees-toggle">Legislative committees</a>
    <ul>
        @for(committee <- stateLegislator.committees) {
        <li>@committee.committeeName</li>
        }
    </ul>
</section>

<section id="new-report">
    <div class="centered-contents">
        <h2><a id="new-report-toggle">New report</a></h2>
    </div>

    <form>
        <section class="form-groups">
            <div class="form-group">
                <label for="author-name">Your name <span>*</span></label><!--
             --><input type="text" id="author-name" class="form-control" maxlength="64" data-min-length="2" />

                <p class="field-error" data-check="empty"></p>
                <p class="field-error" data-check="min-length">Two characters minimun</p>
            </div>

            <div class="form-group">
                <label for="contact">Contact</label><!--
             --><select id="contact" class="form-control">
                    <option value="@ContactWithLegislator.MET_LEGISLATOR">@ContactWithLegislator.MET_LEGISLATOR.getString</option>
                    <option value="@ContactWithLegislator.TALKED_TO_LEGISLATOR" selected>@ContactWithLegislator.TALKED_TO_LEGISLATOR.getString</option>
                    <option value="@ContactWithLegislator.CONTACT_WITH_STAFF">@ContactWithLegislator.CONTACT_WITH_STAFF.getString</option>
                    <option value="@ContactWithLegislator.WAITING_FOR_CALLBACK">@ContactWithLegislator.WAITING_FOR_CALLBACK.getString</option>
                    <option value="@ContactWithLegislator.LEFT_VOICEMAIL">@ContactWithLegislator.LEFT_VOICEMAIL.getString</option>
                    <option value="@ContactWithLegislator.NONE">@ContactWithLegislator.NONE.getString</option>
                </select>
            </div>

            <div class="form-group">
                <label>Money in politics is a problem</label>
                <article class="check-or-radio">
                    <div><input type="radio" name="MPP" value="?" @if(!latestReport.isDefined || !latestReport.get.isMoneyInPoliticsAProblem.isDefined) { checked } /></div>
                    <div><label>?</label></div>
                </article>
                <article class="check-or-radio">
                    <div>
                        <input type="radio" name="MPP" value="true"
                        @if(latestReport.isDefined &&
                            latestReport.get.isMoneyInPoliticsAProblem.isDefined &&
                            latestReport.get.isMoneyInPoliticsAProblem.get) {
                                checked
                        } />
                    </div>
                    <div><label>Yes</label></div>
                </article>
                <article class="check-or-radio">
                    <div>
                        <input type="radio" name="MPP" value="false"
                        @if(latestReport.isDefined &&
                            latestReport.get.isMoneyInPoliticsAProblem.isDefined &&
                            !latestReport.get.isMoneyInPoliticsAProblem.get) {
                                checked
                        } />
                    </div>
                    <div><label>No</label></div>
                </article>
            </div>

            <div class="form-group">
                <label>Supports amendment to fix it</label>
                <article class="check-or-radio">
                    <div><input type="radio" name="SAFI" value="?" @if(!latestReport.isDefined || !latestReport.get.isSupportingAmendmentToFixIt.isDefined) { checked } /></div>
                    <div><label>?</label></div>
                </article>
                <article class="check-or-radio">
                    <div>
                        <input type="radio" name="SAFI" value="true"
                        @if(latestReport.isDefined &&
                            latestReport.get.isSupportingAmendmentToFixIt.isDefined &&
                            latestReport.get.isSupportingAmendmentToFixIt.get) {
                                checked
                        } />
                    </div>
                    <div><label>Yes</label></div>
                </article>
                <article class="check-or-radio">
                    <div>
                        <input type="radio" name="SAFI" value="false"
                        @if(latestReport.isDefined &&
                            latestReport.get.isSupportingAmendmentToFixIt.isDefined &&
                            !latestReport.get.isSupportingAmendmentToFixIt.get) {
                                checked
                        } />
                    </div>
                    <div><label>No</label></div>
                </article>
            </div>

            <div class="form-group">
                <label>Opposes Citizens United</label>
                <article class="check-or-radio">
                    <div><input type="radio" name="OCU" value="?" @if(!latestReport.isDefined || !latestReport.get.isOpposingCitizensUnited.isDefined) { checked } /></div>
                    <div><label>?</label></div>
                </article>
                <article class="check-or-radio">
                    <div><input type="radio" name="OCU" value="true"
                        @if(latestReport.isDefined &&
                            latestReport.get.isOpposingCitizensUnited.isDefined &&
                            latestReport.get.isOpposingCitizensUnited.get) {
                                checked
                        } /></div>
                    <div><label>Yes</label></div>
                </article>
                <article class="check-or-radio">
                    <div><input type="radio" name="OCU" value="false"
                        @if(latestReport.isDefined &&
                            latestReport.get.isOpposingCitizensUnited.isDefined &&
                            !latestReport.get.isOpposingCitizensUnited.get) {
                                checked
                        } /></div>
                    <div><label>No</label></div>
                </article>
            </div>

            <div class="form-group">
                <label>Previous vote for convention</label>
                <article class="check-or-radio">
                    <div><input type="radio" name="PVC" value="?" @if(!latestReport.isDefined || !latestReport.get.hasPreviouslyVotedForConvention.isDefined) { checked } /></div>
                    <div><label>?</label></div>
                </article>
                <article class="check-or-radio">
                    <div>
                        <input type="radio" name="PVC" value="true"
                        @if(latestReport.isDefined &&
                            latestReport.get.hasPreviouslyVotedForConvention.isDefined &&
                            latestReport.get.hasPreviouslyVotedForConvention.get) {
                                checked
                        } />
                    </div>
                    <div><label>Yes</label></div>
                </article>
                <article class="check-or-radio">
                    <div>
                        <input type="radio" name="PVC" value="false"
                        @if(latestReport.isDefined &&
                            latestReport.get.hasPreviouslyVotedForConvention.isDefined &&
                            !latestReport.get.hasPreviouslyVotedForConvention.get) {
                                checked
                        } />
                    </div>
                    <div><label>No</label></div>
                </article>
            </div>

            <div class="form-group">
                <label for="support-level">Support level</label><!--
             --><select id="support-level" class="form-control">
                    <option value=""></option>

                    <option value="@SupportLevel.SUPPORTIVE"
                    @if(latestReport.isDefined &&
                        latestReport.get.supportLevel.isDefined &&
                        latestReport.get.supportLevel.get == "SUPPORTIVE") {
                            selected
                    }
                    >@SupportLevel.SUPPORTIVE.getString</option><!-- comparing with SupportLevel.SUPPORTIVE doesn't work, strange... -->

                    <option value="@SupportLevel.NEEDS_CONVINCING"
                    @if(latestReport.isDefined &&
                        latestReport.get.supportLevel.isDefined &&
                        latestReport.get.supportLevel.get == "NEEDS_CONVINCING") {
                            selected
                    }
                    >@SupportLevel.NEEDS_CONVINCING.getString</option>

                    <option value="@SupportLevel.NOT_SUPPORTIVE"
                    @if(latestReport.isDefined &&
                        latestReport.get.supportLevel.isDefined &&
                        latestReport.get.supportLevel.get == "NOT_SUPPORTIVE") {
                            selected
                    }
                    >@SupportLevel.NOT_SUPPORTIVE.getString</option>
                </select>
            </div>

            <div class="form-group">
                <label for="notes">Notes</label><!--
             --><textarea id="notes" class="form-control" maxlength="512"></textarea>

                <p class="field-error" data-check="max-length">512 characters maximum</p>
            </div>
        </section>

        <div class="submit-wrapper">
            <button type="submit" class="btn btn-primary" data-loading-text="Saving report...">Save report</button>
        </div>
    </form>
</section>

<section class="reports">
@if(existingReports.isEmpty) {
    <div class="alert alert-info">Nobody has reported on @stateLegislator.firstName @stateLegislator.lastName yet</div>
} else {
    <h2>Previous reports</h2>

    @for(report <- existingReports) {
    <article data-id="@report.id">
        <div>
            <span class="existing-report-date">@report.getReadableCreationTimestamp</span>
            <span class="existing-report-contact">@report.getReadableContact</span>
            <span class="existing-report-author-name">@report.authorName</span>
            <a class="delete-existing-report">Delete</a>
            <a class="edit-existing-report">Edit</a>
        </div>
        <div>
            @Html(report.getSupportLevelSpan)
            <span class="existing-report-yes-no-answers">@Report.getLetterForYesNoAnswer(report.isMoneyInPoliticsAProblem)
            @Report.getLetterForYesNoAnswer(report.isSupportingAmendmentToFixIt)
            @Report.getLetterForYesNoAnswer(report.isOpposingCitizensUnited)
            @Report.getLetterForYesNoAnswer(report.hasPreviouslyVotedForConvention)</span>
        </div>
        <p>@Html(report.getNotesForWeb)</p>
    </article>
    }
}
</section>

} {
<!--
    Javascript
-->
<script type="text/javascript">
    window.addEvent("domready", function () {
        new CBR.Controllers.StateLegislator({
            el: "#content",
            stateLegislator: @Html(services.JsonUtil.serialize(stateLegislator)),
            @if(!existingReports.isEmpty) {
            latestReport: @Html(services.JsonUtil.serialize(existingReports.head)),
            }
            action: @Html(services.JsonUtil.serialize(action))
        }).run();
    });
</script>

}