@(stateLegislator: models.frontend.DetailedStateLegislator, action: Option[String], isAdmin: Boolean)
@main(stateLegislator.firstName + " " + stateLegislator.lastName, "state-legislator") {
<!--
    Header
-->
@navbar(isAdmin, "state-legislator")

} {
<!--
    Content
-->
@if(action.isDefined && action.get == "savedReport") {
<div id="report-saved" class="alert alert-success floating">Report saved</div>
}

@if(action.isDefined && action.get == "deletedReport") {
<div id="report-deleted" class="alert alert-success floating">Report deleted</div>
}

<h1>@stateLegislator.title<br />
    @stateLegislator.firstName @stateLegislator.lastName</h1>

<section id="legislator-data">
    <div class="centered-contents">
        <img src="@stateLegislator.getPhotoUrl" />
        <p>@stateLegislator.politicalParties.mkString("; ")</p>
        <p>@stateLegislator.usState.id @stateLegislator.getChamber.getAbbr @stateLegislator.district</p>

        @if(stateLegislator.leadershipPosition.isDefined) {
        <p>@stateLegislator.leadershipPosition.get.name</p>
        }
    </div>

    <div>
        <section id="phone-numbers">
            @for(office <- stateLegislator.offices) {
            <article>
                <label>@office.officeType</label><!--
             --><span>@office.phoneNumber</span>
            </article>
            }

            <div class="form-group">
                <label for="other-phone-number">Other</label><!--
             --><input type="text" id="other-phone-number" class="form-control" maxlength="16" @if(stateLegislator.otherPhoneNumber.isDefined) { value="@stateLegislator.otherPhoneNumber.get" } />
            </div>
        </section>

        <section id="support-level-and-priority-target">
            @if(!stateLegislator.reports.isEmpty) {
                @Html(stateLegislator.reports.head.getSupportLevelSpan)
            } else {
            <span class="support-level UNKNOWN">Unknown</span>
            }
            <article class="check-or-radio">
                <div><input type="checkbox" id="priority-target" @if(stateLegislator.isAPriorityTarget) { checked } @if(!isAdmin) { disabled } /></div>
                <div><label>Priority target</label></div>
            </article>
        </section>

        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th><span class="yes-no-answer">Money in politics is a problem</span></th>
                    <th><span class="yes-no-answer">Supports amendment to fix it</span></th>
                    <th><span class="yes-no-answer">Opposes Citizens United</span></th>
                    <th><span class="yes-no-answer">Supports convention process</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @if(!stateLegislator.reports.isEmpty) {
                    <td>@Html(Report.getSpanForYesNoAnswer(stateLegislator.reports.head.isMoneyInPoliticsAProblem))</td>
                    <td>@Html(Report.getSpanForYesNoAnswer(stateLegislator.reports.head.isSupportingAmendmentToFixIt))</td>
                    <td>@Html(Report.getSpanForYesNoAnswer(stateLegislator.reports.head.isOpposingCitizensUnited))</td>
                    <td>@Html(Report.getSpanForYesNoAnswer(stateLegislator.reports.head.isSupportingConventionProcess))</td>
                    } else {
                    <td><span class="centered-contents">@Html(Report.getSpanForYesNoAnswer(None))</span></td>
                    <td><span class="centered-contents">@Html(Report.getSpanForYesNoAnswer(None))</span></td>
                    <td><span class="centered-contents">@Html(Report.getSpanForYesNoAnswer(None))</span></td>
                    <td><span class="centered-contents">@Html(Report.getSpanForYesNoAnswer(None))</span></td>
                    }
                </tr>
            </tbody>
        </table>
    </div>

    <section id="additional-contact-info">
        <a>Additional contact info</a>

        <div>
            <form role="form">
                <div class="form-group">
                    <label for="staff-name">Staff name</label><!--
                 --><input type="text" id="staff-name" class="form-control" maxlength="64" @if(stateLegislator.staffName.isDefined) { value="@stateLegislator.staffName.get" } @if(!isAdmin) { disabled } />
                </div>

                <div class="form-group">
                    <label for="staff-number">Staff number</label><!--
                 --><input type="text" id="staff-number" class="form-control" maxlength="16" @if(stateLegislator.staffNumber.isDefined) { value="@stateLegislator.staffNumber.get" } @if(!isAdmin) { disabled } />
                </div>

                <div class="form-group">
                    <label for="point-of-contact">Point of contact</label><!--
                 --><input type="text" id="point-of-contact" class="form-control" maxlength="64" @if(stateLegislator.pointOfContact.isDefined) { value="@stateLegislator.pointOfContact.get" } @if(!isAdmin) { disabled } />
                </div>
            </form>

            @for(office <- stateLegislator.offices) {
            @if(office.street.isDefined) {
            <article class="office-address">
                <label>@office.officeType office</label>
                <p>@Html(office.street.get.replaceAll("\n", "<br />"))<br />
                    @office.city, @office.usStateId @office.zip</p>
            </article>
            }}

            @if(stateLegislator.facebookUrl.isDefined || stateLegislator.twitterUrl.isDefined) {
            <section id="social-media">
                @if(stateLegislator.facebookUrl.isDefined) {
                <a href="@stateLegislator.facebookUrl.get" class="facebook" target="_blank"></a>
                }
                @if(stateLegislator.twitterUrl.isDefined) {
                <a href="@stateLegislator.twitterUrl.get" class="twitter" target="_blank"></a>
                }
            </section>
            }
        </div>
    </section>
</section>

@if(!stateLegislator.committees.isEmpty) {
<section id="committees">
    <a id="committees-toggle">Legislative committees</a>
    <ul>
        @for(candidateCommittee <- stateLegislator.committees) {
        <li>@candidateCommittee.committee.name &mdash; <span>@candidateCommittee.position</span></li>
        }
    </ul>
</section>
}

<section id="new-report">
    <div class="centered-contents">
        <h2><a id="new-report-toggle">New report</a></h2>
    </div>

    <form role="form">
        <section class="form-groups report">
            <div class="form-group">
                <label for="author-name">Your name <span>*</span></label><!--
             --><input type="text" id="author-name" class="form-control" maxlength="64" data-min-length="2" />

                <p class="field-error" data-check="empty"></p>
                <p class="field-error" data-check="min-length">Two characters minimun</p>
            </div>

            <div class="form-group">
                <label for="contact">Contact</label><!--
             --><select id="contact" class="form-control">
                    <option value="">@ContactWithLegislator.NO_CONTACT.getString</option>
                    <option value="@ContactWithLegislator.MET_LEGISLATOR">@ContactWithLegislator.MET_LEGISLATOR.getString</option>
                    <option value="@ContactWithLegislator.TALKED_TO_LEGISLATOR">@ContactWithLegislator.TALKED_TO_LEGISLATOR.getString</option>
                    <option value="@ContactWithLegislator.CONTACT_WITH_STAFF">@ContactWithLegislator.CONTACT_WITH_STAFF.getString</option>
                    <option value="@ContactWithLegislator.WAITING_FOR_CALLBACK">@ContactWithLegislator.WAITING_FOR_CALLBACK.getString</option>
                    <option value="@ContactWithLegislator.LEFT_VOICEMAIL">@ContactWithLegislator.LEFT_VOICEMAIL.getString</option>
                </select>
            </div>

            <div class="form-group">
                <label>Money in politics is a problem</label>
                <article class="check-or-radio">
                    <div><input type="radio" name="MPP" value="?" @if(stateLegislator.reports.isEmpty || !stateLegislator.reports.head.isMoneyInPoliticsAProblem.isDefined) { checked } /></div>
                    <div><label>?</label></div>
                </article>
                <article class="check-or-radio">
                    <div>
                        <input type="radio" name="MPP" value="true"
                        @if(!stateLegislator.reports.isEmpty &&
                            stateLegislator.reports.head.isMoneyInPoliticsAProblem.isDefined &&
                            stateLegislator.reports.head.isMoneyInPoliticsAProblem.get) {
                                checked
                        }/>
                    </div>
                    <div><label>Yes</label></div>
                </article>
                <article class="check-or-radio">
                    <div>
                        <input type="radio" name="MPP" value="false"
                        @if(!stateLegislator.reports.isEmpty &&
                            stateLegislator.reports.head.isMoneyInPoliticsAProblem.isDefined &&
                            !stateLegislator.reports.head.isMoneyInPoliticsAProblem.get) {
                                checked
                        }/>
                    </div>
                    <div><label>No</label></div>
                </article>
            </div>

            <div class="form-group">
                <label>Supports amendment to fix it</label>
                <article class="check-or-radio">
                    <div><input type="radio" name="SAFI" value="?" @if(stateLegislator.reports.isEmpty || !stateLegislator.reports.head.isSupportingAmendmentToFixIt.isDefined) { checked } /></div>
                    <div><label>?</label></div>
                </article>
                <article class="check-or-radio">
                    <div>
                        <input type="radio" name="SAFI" value="true"
                        @if(!stateLegislator.reports.isEmpty &&
                            stateLegislator.reports.head.isSupportingAmendmentToFixIt.isDefined &&
                            stateLegislator.reports.head.isSupportingAmendmentToFixIt.get) {
                                checked
                        }/>
                    </div>
                    <div><label>Yes</label></div>
                </article>
                <article class="check-or-radio">
                    <div>
                        <input type="radio" name="SAFI" value="false"
                        @if(!stateLegislator.reports.isEmpty &&
                            stateLegislator.reports.head.isSupportingAmendmentToFixIt.isDefined &&
                            !stateLegislator.reports.head.isSupportingAmendmentToFixIt.get) {
                                checked
                        }/>
                    </div>
                    <div><label>No</label></div>
                </article>
            </div>

            <div class="form-group">
                <label>Opposes Citizens United</label>
                <article class="check-or-radio">
                    <div><input type="radio" name="OCU" value="?" @if(stateLegislator.reports.isEmpty || !stateLegislator.reports.head.isOpposingCitizensUnited.isDefined) { checked } /></div>
                    <div><label>?</label></div>
                </article>
                <article class="check-or-radio">
                    <div><input type="radio" name="OCU" value="true"
                        @if(!stateLegislator.reports.isEmpty &&
                            stateLegislator.reports.head.isOpposingCitizensUnited.isDefined &&
                            stateLegislator.reports.head.isOpposingCitizensUnited.get) {
                                checked
                        }/></div>
                    <div><label>Yes</label></div>
                </article>
                <article class="check-or-radio">
                    <div><input type="radio" name="OCU" value="false"
                        @if(!stateLegislator.reports.isEmpty &&
                            stateLegislator.reports.head.isOpposingCitizensUnited.isDefined &&
                            !stateLegislator.reports.head.isOpposingCitizensUnited.get) {
                                checked
                        }/></div>
                    <div><label>No</label></div>
                </article>
            </div>

            <div class="form-group">
                <label>Supports convention process</label>
                <article class="check-or-radio">
                    <div><input type="radio" name="SCP" value="?" @if(stateLegislator.reports.isEmpty || !stateLegislator.reports.head.isSupportingConventionProcess.isDefined) { checked } /></div>
                    <div><label>?</label></div>
                </article>
                <article class="check-or-radio">
                    <div>
                        <input type="radio" name="SCP" value="true"
                        @if(!stateLegislator.reports.isEmpty &&
                            stateLegislator.reports.head.isSupportingConventionProcess.isDefined &&
                            stateLegislator.reports.head.isSupportingConventionProcess.get) {
                                checked
                        }/>
                    </div>
                    <div><label>Yes</label></div>
                </article>
                <article class="check-or-radio">
                    <div>
                        <input type="radio" name="SCP" value="false"
                        @if(!stateLegislator.reports.isEmpty &&
                            stateLegislator.reports.head.isSupportingConventionProcess.isDefined &&
                            !stateLegislator.reports.head.isSupportingConventionProcess.get) {
                                checked
                        }/>
                    </div>
                    <div><label>No</label></div>
                </article>
            </div>

            <div class="form-group">
                <label for="support-level">Support level</label><!--
             --><select id="support-level" class="form-control">
                    <option value="@SupportLevel.UNKNOWN">@SupportLevel.UNKNOWN.getString</option>

                    <option value="@SupportLevel.PRIMARY_SPONSOR"
                    @if(!stateLegislator.reports.isEmpty &&
                    stateLegislator.reports.head.supportLevel == "PRIMARY_SPONSOR") {
                    selected
                    }
                    >@SupportLevel.PRIMARY_SPONSOR.getString</option><!-- comparing with SupportLevel.PRIMARY_SPONSOR doesn't work, strange... -->

                    <option value="@SupportLevel.CO_SPONSOR"
                    @if(!stateLegislator.reports.isEmpty &&
                    stateLegislator.reports.head.supportLevel == "CO_SPONSOR") {
                    selected
                    }
                    >@SupportLevel.CO_SPONSOR.getString</option>

                    <option value="@SupportLevel.SUPPORTIVE"
                    @if(!stateLegislator.reports.isEmpty &&
                        stateLegislator.reports.head.supportLevel == "SUPPORTIVE") {
                            selected
                    }
                    >@SupportLevel.SUPPORTIVE.getString</option>

                    <option value="@SupportLevel.NEEDS_CONVINCING"
                    @if(!stateLegislator.reports.isEmpty &&
                        stateLegislator.reports.head.supportLevel == "NEEDS_CONVINCING") {
                            selected
                    }
                    >@SupportLevel.NEEDS_CONVINCING.getString</option>

                    <option value="@SupportLevel.NOT_SUPPORTIVE"
                    @if(!stateLegislator.reports.isEmpty &&
                        stateLegislator.reports.head.supportLevel == "NOT_SUPPORTIVE") {
                            selected
                    }
                    >@SupportLevel.NOT_SUPPORTIVE.getString</option>
                </select>
            </div>

            <div class="form-group">
                <label for="notes">Notes</label><!--
             --><textarea id="notes" class="form-control" maxlength="512"></textarea>

                <p class="field-error" data-check="max-length">512 characters maximum</p>
            </div>
        </section>

        <div class="submit-wrapper">
            <button type="submit" class="btn btn-primary" data-loading-text="Saving report...">Save report</button>
        </div>
    </form>
</section>

<section class="reports">
@if(stateLegislator.reports.isEmpty) {
    <div class="alert alert-info">Nobody has reported on @stateLegislator.firstName @stateLegislator.lastName yet</div>
} else {
    <h2>Previous reports</h2>

    @for(report <- stateLegislator.reports) {
    <article data-id="@report.id">
        <div>
            <span class="existing-report-date">@report.getReadableCreationTimestamp</span>
            <span class="existing-report-contact">@report.getReadableContact</span>
            <span class="existing-report-author-name">@report.authorName</span>
        </div>
        <div>
            @Html(report.getSupportLevelSpan)
            <span class="existing-report-yes-no-answers">@Html(Report.getSpanForYesNoAnswer(report.isMoneyInPoliticsAProblem))
            @Html(Report.getSpanForYesNoAnswer(report.isSupportingAmendmentToFixIt))
            @Html(Report.getSpanForYesNoAnswer(report.isOpposingCitizensUnited))
            @Html(Report.getSpanForYesNoAnswer(report.isSupportingConventionProcess))</span>
        </div>
        <p>@Html(report.getNotesForWeb)</p>
    </article>
    }
}
</section>

} {
<!--
    Javascript
-->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        new CBR.Controllers.StateLegislator({
            el: "#content",
            stateLegislator: @Html(play.api.libs.json.Json.toJson(stateLegislator).toString),
            action: @Html(play.api.libs.json.Json.toJson(action).toString),
            isAdmin: @Html(play.api.libs.json.Json.toJson(isAdmin).toString)
        }).run();
    });
</script>

}